---
import Layout from "../../templates/layout/layout.astro";
import Heading from "../heading/heading.astro";
import LogoComponent from "./logo.astro";

const title = "Logo";
---

<Layout title={title}>
  <Heading>Usage</Heading>
  <p>
    This is the website logo. You should use this component instead of importing
    the logo to update the logo color when switching theme.
  </p>
  <LogoComponent />
</Layout>
