---
import Layout from "../../templates/layout/layout.astro";
import NavLinkComponent from "./nav-link.astro";

const title = "NavLink";
---

<Layout title={title}>
  <h2>Usage</h2>
  <p>
    This component is used to define a navigation item inside a navigation list.
  </p>
  <h2>Variant: <code>isBlock: false</code> (default)</h2>
  <NavLinkComponent href="#destination">Nav Item</NavLinkComponent>
  <h3><code>isBordered</code></h3>
  <NavLinkComponent href="#destination" isBordered>Nav Item</NavLinkComponent>
  <h3>With icon</h3>
  <NavLinkComponent href="#destination" icon="cc-by-sa" iconSize={40}>
    Nav Item
  </NavLinkComponent>
  <h2>Variant: <code>isBlock: true</code></h2>
  <NavLinkComponent href="#destination" isBlock>Nav Item</NavLinkComponent>
  <h3><code>isBordered</code></h3>
  <NavLinkComponent href="#destination" isBlock isBordered>
    Nav Item
  </NavLinkComponent>
  <h3>With icon</h3>
  <NavLinkComponent href="#destination" icon="cc-by-sa" iconSize={40} isBlock>
    Nav Item
  </NavLinkComponent>
</Layout>
