---
import type { ComponentProps } from "astro/types";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import NavLinkComponent from "./nav-link.astro";

const title = "NavLink";
const breadcrumb: ComponentProps<typeof PageLayout>["breadcrumb"] = [
  { label: "Home", url: "/" },
  { label: "Design system", url: "/design-system" },
  { label: "Components", url: "/design-system/components" },
  { label: "Molecules", url: "/design-system/components/molecules" },
  { label: title, url: Astro.url.href },
];
const seo: ComponentProps<typeof PageLayout>["seo"] = {
  nofollow: true,
  noindex: true,
  title: breadcrumb
    .slice(1)
    .reverse()
    .map((crumb) => crumb.label)
    .join(" | "),
};
---

<PageLayout breadcrumb={breadcrumb} heading={title} seo={seo}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>
      This component is used to define a navigation item inside a navigation
      list.
    </p>
    <Heading as="h2">Variant: <code>isBlock: false</code> (default)</Heading>
    <NavLinkComponent href="#destination">Nav Item</NavLinkComponent>
    <Heading as="h3"><code>isBordered</code></Heading>
    <NavLinkComponent href="#destination" isBordered>Nav Item</NavLinkComponent>
    <Heading as="h3">With icon</Heading>
    <NavLinkComponent href="#destination" icon="cc-by-sa" iconSize={40}>
      Nav Item
    </NavLinkComponent>
    <Heading as="h2">Variant: <code>isBlock: true</code></Heading>
    <NavLinkComponent href="#destination" isBlock>Nav Item</NavLinkComponent>
    <Heading as="h3"><code>isBordered</code></Heading>
    <NavLinkComponent href="#destination" isBlock isBordered>
      Nav Item
    </NavLinkComponent>
    <Heading as="h3">With icon</Heading>
    <NavLinkComponent href="#destination" icon="cc-by-sa" iconSize={40} isBlock>
      Nav Item
    </NavLinkComponent>
  </Fragment>
</PageLayout>
