@custom-media --smaller-than-xxs (width < 480px);
@custom-media --xxs-or-above (width >= 480px);
@custom-media --smaller-than-xs (width < 568px);
@custom-media --xs-or-above (width >= 568px);
@custom-media --smaller-than-sm (width < 768px);
@custom-media --sm-or-above (width >= 768px);
@custom-media --smaller-than-md (width < 1024px);
@custom-media --md-or-above (width >= 1024px);
@custom-media --smaller-than-prose (width < 44em);
@custom-media --prose (width >= 44em);
@custom-media --smaller-than-prose-sidebar (width < calc(44em * 2.25));
@custom-media --prose-sidebar (width >= calc(44em * 2.25));
