---
import { Icon } from "astro-icon/components";
import type { ComponentProps } from "astro/types";
import Button from "../../atoms/button/button.astro";

type Props = Omit<
  ComponentProps<typeof Button<"a">>,
  "as" | "href" | "isExternal" | "kind"
> & {
  /**
   * An anchor on the same page.
   */
  anchor: `#${string}`;
  /**
   * A visually hidden label.
   */
  label: string;
};

const { anchor, class: className, label, ...attrs } = Astro.props;

if (!anchor.startsWith("#"))
  throw new Error(
    "The `anchor` property should be an anchor on the same page. It must start with `#`.",
  );
---

<Button {...attrs} as="a" class:list={["back-to", className]} href={anchor}>
  <Icon aria-hidden="true" name="caret" />
  <span class="sr-only">{label}</span>
</Button>

<style>
  .back-to {
    aspect-ratio: 1 / 1;
    border-width: var(--border-size-md);
    box-shadow: var(--shadow-elevated-to-top-left);

    @media (any-pointer: fine) {
      padding: var(--spacing-xs);
    }

    &:where(:focus-visible) {
      outline-offset: calc(var(--border-size-lg) * -3);
      outline-width: var(--border-size-lg);
    }

    &:where(:hover, :focus) {
      box-shadow: var(--shadow-floating-to-top-left);
      transform: scale(1.1);
    }

    &:where(:active) {
      box-shadow: var(--shadow-raised-to-top-left);
      transform: scale(0.95);
    }
  }
</style>
