---
import { getStoryMeta } from "../../../utils/stories";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import CodePreview from "../code-preview/code-preview.astro";
import BackToComponent from "./back-to.astro";

const title = "BackTo";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "molecules",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Introduction</Heading>
    <p>
      A BackTo component is special. It is used to navigate through a page using
      anchors. His purpose is to let the user go back to a previous anchor.
    </p>
    <CodePreview
      code={`import BackTo from "./components/molecules/back-to/back-to.astro";`}
      label="How to import"
      lang="ts"
    />
    <CodePreview
      code={`<BackTo anchor="#some-anchor" label="Back to some anchor" />`}
      label="Basic use"
      lang="astro"
    >
      <BackToComponent anchor="#some-anchor" label="Back to some anchor" />
    </CodePreview>
    <p>
      <strong>Note:</strong> The button is currently designed to be used a "back
      to top" button but I choose to name it BackTo to support possible future variants.
    </p>
  </Fragment>
</PageLayout>
