---
import { getStoryMeta } from "../../../utils/stories";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import NavbarComponent from "./navbar.astro";

const title = "Navbar";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "organisms",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>
      A <code>Navbar</code> component should be used in the website layout to provide
      navigation items to the user.
    </p>
    <NavbarComponent id="usage-example">
      <div slot="nav">Nav</div>
      <div slot="search">Search</div>
      <div slot="settings">Settings</div>
    </NavbarComponent>
  </Fragment>
</PageLayout>
