---
import type { ComponentProps } from "astro/types";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import Heading from "../heading/heading.astro";
import SpinnerComponent from "./spinner.astro";

const title = "Spinner";
const breadcrumb: ComponentProps<typeof PageLayout>["breadcrumb"] = [
  { label: "Home", url: "/" },
  { label: "Design system", url: "/design-system" },
  { label: "Components", url: "/design-system/components" },
  { label: "Atoms", url: "/design-system/components/atoms" },
  { label: title, url: Astro.url.href },
];
const seo: ComponentProps<typeof PageLayout>["seo"] = {
  nofollow: true,
  noindex: true,
  title: breadcrumb
    .slice(1)
    .reverse()
    .map((crumb) => crumb.label)
    .join(" | "),
};
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>
      A <code>Spinner</code> should be used to indicate a loading state.
    </p>
    <SpinnerComponent />
    <Heading as="h2">With message</Heading>
    <Heading as="h3">Under the spinner (default)</Heading>
    <SpinnerComponent>Loading...</SpinnerComponent>
    <Heading as="h3">On top of the spinner</Heading>
    <SpinnerComponent isReversed>Loading...</SpinnerComponent>
    <Heading as="h3">Inlined after the spinner</Heading>
    <SpinnerComponent isInline>Loading...</SpinnerComponent>
    <Heading as="h3">Inlined before the spinner</Heading>
    <SpinnerComponent isInline isReversed>Loading...</SpinnerComponent>
  </Fragment>
</PageLayout>
