---
import { getStoryMeta } from "../../../utils/stories";
import CodePreview from "../../molecules/code-preview/code-preview.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import Heading from "../heading/heading.astro";
import SpinnerComponent from "./spinner.astro";

const title = "Spinner";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "atoms",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Introduction</Heading>
    <p>
      A <code>Spinner</code> should be used to indicate a loading state.
    </p>
    <CodePreview
      code={`import Spinner from "./components/atoms/spinner/spinner.astro";`}
      label="How to import"
      lang="ts"
    />
    <CodePreview code={`<Spinner />`} label="Basic use">
      <SpinnerComponent />
    </CodePreview>
    <SpinnerComponent />
    <Heading as="h2">With text</Heading>
    <CodePreview
      code={`<Spinner>Loading...</Spinner>
<br />
<Spinner isReversed>Loading...</Spinner>
<br />
<Spinner isInline>Loading...</Spinner>
<br />
<Spinner isInline isReversed>Loading...</Spinner>`}
      label="Basic use"
      lang="astro"
    >
      <SpinnerComponent>Loading...</SpinnerComponent>
      <br />
      <SpinnerComponent isReversed>Loading...</SpinnerComponent>
      <br />
      <SpinnerComponent isInline>Loading...</SpinnerComponent>
      <br />
      <SpinnerComponent isInline isReversed>Loading...</SpinnerComponent>
    </CodePreview>
  </Fragment>
</PageLayout>
