---
import { getStoryMeta } from "../../../utils/stories";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import Heading from "../heading/heading.astro";
import SpinnerComponent from "./spinner.astro";

const title = "Spinner";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "atoms",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>
      A <code>Spinner</code> should be used to indicate a loading state.
    </p>
    <SpinnerComponent />
    <Heading as="h2">With message</Heading>
    <Heading as="h3">Under the spinner (default)</Heading>
    <SpinnerComponent>Loading...</SpinnerComponent>
    <Heading as="h3">On top of the spinner</Heading>
    <SpinnerComponent isReversed>Loading...</SpinnerComponent>
    <Heading as="h3">Inlined after the spinner</Heading>
    <SpinnerComponent isInline>Loading...</SpinnerComponent>
    <Heading as="h3">Inlined before the spinner</Heading>
    <SpinnerComponent isInline isReversed>Loading...</SpinnerComponent>
  </Fragment>
</PageLayout>
