---
import { getStoryMeta } from "../../../utils/stories";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import BackToTopComponent from "./back-to-top.astro";

const title = "BackToTop";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "molecules",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>
      A BackToTop component is special. It is used to navigate to the top of the
      page using an anchor. Its visibility is controlled according to a scroll
      threshold.
    </p>
    <BackToTopComponent anchor="#some-anchor" label="Back to some anchor" />
  </Fragment>
</PageLayout>
