---
import { getStoryMeta } from "../../../utils/stories";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import Heading from "../heading/heading.astro";
import ProgressBarComponent from "./progress-bar.astro";

const title = "ProgressBar";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "atoms",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>
      A <code>ProgressBar</code> should be used to indicate a loading state. This
      can be useful with view transitions for example.
    </p>
    <Heading as="h2">States</Heading>
    <Heading as="h2">Using a current value</Heading>
    <ProgressBarComponent
      aria-label="Progress bar with value example"
      current={0.4}
    />
    <Heading as="h2">Using a current value and a max</Heading>
    <ProgressBarComponent
      aria-label="Progress bar with value and max example"
      current={30}
      max={100}
    />
    <Heading as="h2">Indeterminate</Heading>
    <ProgressBarComponent aria-label="Indeterminate progress bar example" />
  </Fragment>
</PageLayout>
