---
import type { ComponentProps } from "astro/types";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import Heading from "../heading/heading.astro";
import Label from "../label/label.astro";
import TextField from "../text-field/text-field.astro";
import FieldsetComponent from "./fieldset.astro";
import Legend from "./legend.astro";

const title = "Fieldset";
const breadcrumb: ComponentProps<typeof PageLayout>["breadcrumb"] = [
  { label: "Home", url: "/" },
  { label: "Design system", url: "/design-system" },
  { label: "Components", url: "/design-system/components" },
  { label: "Atoms", url: "/design-system/components/atoms" },
  { label: title, url: Astro.url.href },
];
const seo: ComponentProps<typeof PageLayout>["seo"] = {
  nofollow: true,
  noindex: true,
  title: breadcrumb
    .slice(1)
    .reverse()
    .map((crumb) => crumb.label)
    .join(" | "),
};
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <p>
      A fieldset requires a slot named <code>legend</code>. You should use the
      available <code>Legend</code> component to provide one.
    </p>
    <Heading as="h2">Default</Heading>
    <FieldsetComponent>
      <Legend slot="legend">The fieldset legend</Legend>
      The fieldset contents
    </FieldsetComponent>
    <Heading as="h2">Options</Heading>
    <Heading as="h3">Fieldset <code>isBordered</code></Heading>
    <FieldsetComponent isBordered>
      <Legend slot="legend">The fieldset legend</Legend>
      <Label for="option-fieldset-bordered1">Field 1:</Label>
      <TextField id="option-fieldset-bordered1" type="text" />
      <Label for="option-fieldset-bordered2">Field 2:</Label>
      <TextField id="option-fieldset-bordered2" type="text" />
    </FieldsetComponent>
    <Heading as="h3">Legend <code>isBordered</code></Heading>
    <FieldsetComponent>
      <Legend isBordered slot="legend">The fieldset legend</Legend>
      <Label for="option-legend-bordered1">Field 1:</Label>
      <TextField id="option-legend-bordered1" type="text" />
      <Label for="option-legend-bordered2">Field 2:</Label>
      <TextField id="option-legend-bordered2" type="text" />
    </FieldsetComponent>
    <Heading as="h3"
      >Fieldset <code>isBordered</code> and Legend <code>isBordered</code
      ></Heading
    >
    <FieldsetComponent isBordered>
      <Legend isBordered slot="legend">The fieldset legend</Legend>
      <Label for="option-fieldset-legend-bordered1">Field 1:</Label>
      <TextField id="option-fieldset-legend-bordered1" type="text" />
      <Label for="option-fieldset-legend-bordered2">Field 2:</Label>
      <TextField id="option-fieldset-legend-bordered2" type="text" />
    </FieldsetComponent>
  </Fragment>
</PageLayout>
