---
import { getStoryMeta } from "../../../utils/stories";
import Heading from "../../atoms/heading/heading.astro";
import LayoutComponent from "./layout.astro";

const title = "Layout";
const { seo } = getStoryMeta({
  breadcrumb: {
    kind: "templates",
    route: Astro.url.pathname,
    title,
  },
});
---

<LayoutComponent seo={seo}>
  <Heading as="h1">{title}</Heading>
  <p>This is the main content of the page.</p>
</LayoutComponent>
