---
import "../../../styles/global.css";
import type { SEO } from "../../../types/data";

type Props = {
  seo: SEO;
};

const { seo } = Astro.props;
---

<html
  data-shiki="light"
  data-theme="light"
  lang={Astro.currentLocale}
  style="color-scheme: light;"
>
  <head>
    <meta charset="utf-8" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <meta content="width=device-width" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <title>{seo.title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
