---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"table">;

const { class: className, ...attrs } = Astro.props;
---

<table {...attrs} class:list={["table", className]}><slot /></table>

<style>
  .table {
    max-width: 100%;
    border: var(--border-size-sm) solid var(--color-border);
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;

    & :global(th, td, caption) {
      width: auto;
      padding: var(--spacing-3xs) var(--spacing-xs);
      border: var(--border-size-sm) solid var(--color-border);
    }

    & :global(th) {
      font-weight: var(--font-weight-bold);
    }

    & :global(caption) {
      background: var(--color-regular-dark);
      color: var(--color-primary-faded);
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-bold);
      text-align: center;

      &:first-child {
        margin-block-end: var(--spacing-4xs);
      }

      &:last-child {
        margin-block-start: var(--spacing-4xs);
      }
    }
  }
</style>
