---
import { getStoryMeta } from "../../../utils/stories";
import CodePreview from "../../molecules/code-preview/code-preview.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import Heading from "../heading/heading.astro";
import LabelComponent from "./label.astro";

const title = "Label";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "atoms",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Introduction</Heading>
    <p>This component is used to display a label for a form input.</p>
    <CodePreview
      code={`import Label from "./components/atoms/label/label.astro"`}
      label="How to import"
      lang="ts"
    />
    <CodePreview
      code={`<Label>Some label</Label>`}
      label="Basic use"
      lang="astro"
    >
      <LabelComponent>Some label</LabelComponent>
    </CodePreview>
    <Heading as="h2">Options</Heading>
    <Heading as="h3"><code>isRequired</code></Heading>
    <p>
      When associated with a required input, a label can visually shows this
      requirement.
    </p>
    <CodePreview
      code={`<Label isRequired>Some label</Label>`}
      label="Showing a required field"
      lang="astro"
    >
      <LabelComponent isRequired>Some label</LabelComponent>
    </CodePreview>
  </Fragment>
</PageLayout>
