---
import { getStoryMeta } from "../../../utils/stories";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import Heading from "../heading/heading.astro";
import LabelComponent from "./label.astro";

const title = "Label";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "atoms",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>This component is used to display a label for a form input.</p>
    <LabelComponent>A label</LabelComponent>
    <Heading as="h2">Options</Heading>
    <Heading as="h3"><code>isRequired</code></Heading>
    <LabelComponent isRequired>A label</LabelComponent>
  </Fragment>
</PageLayout>
