---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"label"> & {
  isRequired?: boolean | null | undefined;
};

const { class: className, isRequired = false, ...attrs } = Astro.props;
---

<label {...attrs} class:list={["label", className]}>
  <slot />
  {
    isRequired ? (
      <span aria-hidden="true" class="label-star">
        *
      </span>
    ) : null
  }
</label>

<style>
  .label-star {
    color: var(--color-critical);
  }
</style>
