---
import { getStoryMeta } from "../../../utils/stories";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import SearchFormComponent from "./search-form.astro";

const title = "SearchForm";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "organisms",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>
      A <code>SearchForm</code> component should be used to authorize the user to
      search a page on the website using keywords.
    </p>
    <SearchFormComponent
      id="usage-example"
      queryParam="query"
      resultsPage="/#results"
    />
    <Heading as="h2">Options</Heading>
    <Heading as="h3"><code>isInline</code></Heading>
    <SearchFormComponent
      id="inline-example"
      isInline
      queryParam="query"
      resultsPage="/#results"
    />
  </Fragment>
</PageLayout>
