---
import type { ComponentProps } from "astro/types";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import SearchFormComponent from "./search-form.astro";

const title = "Search Form";

const breadcrumb: ComponentProps<typeof PageLayout>["breadcrumb"] = [
  { label: "Home", url: "/" },
  { label: "Design system", url: "/design-system" },
  { label: "Components", url: "/design-system/components" },
  { label: "Organisms", url: "/design-system/components/organisms" },
  { label: title, url: Astro.url.href },
];

const seo: ComponentProps<typeof PageLayout>["seo"] = {
  nofollow: true,
  noindex: true,
  title: breadcrumb
    .slice(1)
    .reverse()
    .map((crumb) => crumb.label)
    .join(" | "),
};
---

<PageLayout breadcrumb={breadcrumb} heading={title} seo={seo}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>
      A <code>SearchForm</code> component should be used to authorize the user to
      search a page on the website using keywords.
    </p>
    <SearchFormComponent
      id="usage-example"
      queryParam="query"
      resultsPage="/#results"
    />
    <Heading as="h2">Options</Heading>
    <Heading as="h3"><code>isInline</code></Heading>
    <SearchFormComponent
      id="inline-example"
      isInline
      queryParam="query"
      resultsPage="/#results"
    />
  </Fragment>
</PageLayout>
