---
import type { ComponentProps } from "astro/types";
import Heading from "../../../atoms/heading/heading.astro";
import Link from "../../../atoms/link/link.astro";
import ListItem from "../../../atoms/list/list-item.astro";
import List from "../../../atoms/list/list.astro";
import PageLayout from "../page-layout.astro";

const title = "PageLayout";
const breadcrumb: ComponentProps<typeof PageLayout>["breadcrumb"] = [
  { label: "Home", url: "/" },
  { label: "Design system", url: "/design-system" },
  { label: "Components", url: "/design-system/components" },
  { label: "Templates", url: "/design-system/components/templates" },
  { label: title, url: Astro.url.href },
];
const seo: ComponentProps<typeof PageLayout>["seo"] = {
  nofollow: true,
  noindex: true,
  title: breadcrumb
    .slice(1)
    .reverse()
    .map((crumb) => crumb.label)
    .join(" | "),
};
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading>Usage</Heading>
    <p>
      The <code>PageLayout</code> component should be used with most of your pages.
    </p>
    <Heading>Stories</Heading>
    <List>
      <ListItem>
        <Link href="./page-layout/only-page">Only page</Link>
      </ListItem>
      <ListItem>
        <Link href="./page-layout/page-with-breadcrumb">
          Page with breadcrumb
        </Link>
      </ListItem>
      <ListItem>
        <Link href="./page-layout/page-with-aside">Page with aside</Link>
      </ListItem>
      <ListItem>
        <Link href="./page-layout/page-with-breadcrumb-and-aside">
          Page with breadcrumb and aside
        </Link>
      </ListItem>
    </List>
  </Fragment>
</PageLayout>
