---
import type { ComponentProps } from "astro/types";
import PageLayoutComponent from "../page-layout.astro";

const title = "Page with aside";

const seo: ComponentProps<typeof PageLayoutComponent>["seo"] = {
  nofollow: true,
  noindex: true,
  title: `${title} | Templates | Components | Design system`,
};
---

<PageLayoutComponent seo={seo} title={title}>
  <p slot="body">This is the main content of the page.</p>
  <div slot="aside">Some aside here</div>
</PageLayoutComponent>
