:root[data-theme="dark"] {
  color-scheme: dark;
}

:root[data-theme="dark"],
:root[data-shiki="dark"] pre {
  /* Neutral */
  --color-white: hsl(216deg 22% 85%);
  --color-black: hsl(209deg 40% 4%);
  /* Grey */
  --color-grey-high: hsl(209deg 24% 70%);
  --color-grey-lighter: hsl(219deg 14% 24%);
  --color-grey-light: hsl(217deg 16% 23%);
  --color-grey: hsl(215deg 18% 19%);
  --color-grey-dark: hsl(213deg 20% 15%);
  --color-grey-darker: hsl(211deg 22% 8%);
  --color-grey-low: hsl(221deg 12% 5%);
  /* Slate */
  --color-slate-high: hsl(209deg 30% 77%);
  --color-slate-lighter: hsl(219deg 20% 17%);
  --color-slate-light: hsl(217deg 22% 13%);
  --color-slate: hsl(215deg 30% 10%);
  --color-slate-dark: hsl(213deg 35% 8%);
  --color-slate-darker: hsl(211deg 34% 7%);
  --color-slate-low: hsl(221deg 15% 4%);
  /* Blue */
  --color-blue-high: hsl(206deg 75% 85%);
  --color-blue-lighter: hsl(216deg 61% 82%);
  --color-blue-light: hsl(214deg 63% 80%);
  --color-blue: hsl(212deg 65% 78%);
  --color-blue-dark: hsl(210deg 67% 76%);
  --color-blue-darker: hsl(208deg 69% 74%);
  --color-blue-low: hsl(218deg 50% 13%);
  /* Cyan */
  --color-cyan-high: hsl(174deg 72% 85%);
  --color-cyan-lighter: hsl(184deg 51% 76%);
  --color-cyan-light: hsl(182deg 53% 74%);
  --color-cyan: hsl(180deg 55% 72%);
  --color-cyan-dark: hsl(178deg 57% 70%);
  --color-cyan-darker: hsl(176deg 59% 68%);
  --color-cyan-low: hsl(186deg 48% 10%);
  /* Green */
  --color-green-high: hsl(96deg 75% 85%);
  --color-green-lighter: hsl(106deg 56% 76%);
  --color-green-light: hsl(104deg 58% 74%);
  --color-green: hsl(102deg 60% 72%);
  --color-green-dark: hsl(100deg 62% 70%);
  --color-green-darker: hsl(98deg 74% 68%);
  --color-green-low: hsl(108deg 45% 10%);
  /* Orange */
  --color-orange-high: hsl(26deg 75% 85%);
  --color-orange-lighter: hsl(36deg 60% 78%);
  --color-orange-light: hsl(34deg 62% 76%);
  --color-orange: hsl(32deg 64% 74%);
  --color-orange-dark: hsl(30deg 66% 72%);
  --color-orange-darker: hsl(28deg 68% 70%);
  --color-orange-low: hsl(38deg 50% 10%);
  /* Pink */
  --color-pink-high: hsl(318deg 75% 92%);
  --color-pink-lighter: hsl(328deg 62% 86%);
  --color-pink-light: hsl(326deg 63% 84%);
  --color-pink: hsl(324deg 65% 82%);
  --color-pink-dark: hsl(322deg 67% 80%);
  --color-pink-darker: hsl(320deg 69% 78%);
  --color-pink-low: hsl(330deg 50% 10%);
  /* Purple */
  --color-purple-high: hsl(248deg 75% 88%);
  --color-purple-lighter: hsl(258deg 61% 86%);
  --color-purple-light: hsl(256deg 63% 84%);
  --color-purple: hsl(254deg 65% 82%);
  --color-purple-dark: hsl(252deg 67% 80%);
  --color-purple-darker: hsl(250deg 69% 78%);
  --color-purple-low: hsl(260deg 50% 10%);
  /* Red */
  --color-red-high: hsl(12deg 75% 88%);
  --color-red-lighter: hsl(10deg 61% 82%);
  --color-red-light: hsl(8deg 63% 80%);
  --color-red: hsl(6deg 65% 78%);
  --color-red-dark: hsl(4deg 67% 76%);
  --color-red-darker: hsl(2deg 69% 74%);
  --color-red-low: hsl(0deg 50% 10%);
  /* Yellow */
  --color-yellow-high: hsl(46deg 75% 85%);
  --color-yellow-lighter: hsl(56deg 61% 74%);
  --color-yellow-light: hsl(54deg 63% 72%);
  --color-yellow: hsl(52deg 65% 70%);
  --color-yellow-dark: hsl(50deg 67% 68%);
  --color-yellow-darker: hsl(48deg 69% 66%);
  --color-yellow-low: hsl(58deg 50% 10%);
}
