---
import type { HTMLAttributes } from "astro/types";
import type { RoutableCollectionKey } from "../../../lib/astro/collections/types";
import type { QueriedEntry } from "../../../services/collections";
import { useI18n } from "../../../services/i18n";
import { buildToc } from "../../../services/toc";
import type { Img } from "../../../types/data";
import Collapsible from "../../molecules/collapsible/collapsible.astro";
import PageOpener from "../../molecules/page-opener/page-opener.astro";
import TableOfContents from "../../molecules/table-of-contents/table-of-contents.astro";

type Props = Omit<HTMLAttributes<"article">, "title"> & {
  cover?: Omit<Img, "alt"> | null | undefined;
  headings?: QueriedEntry<RoutableCollectionKey>["headings"] | null | undefined;
  title: string;
};

const { class: className, cover, headings, title, ...attrs } = Astro.props;
const { translate } = useI18n(Astro.currentLocale);
const hasMeta = Astro.slots.has("meta");
const hasIntro = Astro.slots.has("intro");
---

<article {...attrs} class:list={[className, "content-page"]}>
  <PageOpener class="content-page-header" cover={cover} title={title}>
    {hasMeta ? <slot name="meta" slot={hasMeta ? "meta" : ""} /> : null}
    {hasIntro ? <slot name="intro" slot={hasIntro ? "intro" : ""} /> : null}
  </PageOpener>
  {
    headings?.length ? (
      <div class="content-page-sidebar">
        <Collapsible class="content-page-toc" open>
          <h2 slot="label">{translate("collapsible.toc.title")}</h2>
          <TableOfContents
            class="content-page-toc-body"
            headings={buildToc(headings)}
          />
        </Collapsible>
      </div>
    ) : null
  }
  <div class="content-page-body prose"><slot /></div>
  {
    Astro.slots.has("disconnected") ? (
      <div class="content-page-disconnected">
        <slot name="disconnected" />
      </div>
    ) : null
  }
  {
    Astro.slots.has("footer") ? (
      <footer class="content-page-footer prose">
        <slot name="footer" />
      </footer>
    ) : null
  }
</article>

<style>
  @layer components {
    .content-page {
      --main-col-width: 100%;
      --sidebar-col-width: 0;

      display: grid;
      grid-template-columns:
        minmax(calc(var(--main-col-width) / 2), var(--main-col-width))
        minmax(0, var(--sidebar-col-width));
      grid-template-rows: repeat(5, minmax(0, auto));
      column-gap: var(--gutter);
      justify-content: center;

      @media (--prose) {
        --main-col-width: calc(var(--size-prose) + 2.5 * var(--gutter));
        --sidebar-col-width: calc(var(--size-prose) / 2.5 + 2 * var(--gutter));
      }
    }

    .content-page-header,
    .content-page-sidebar,
    .content-page-body,
    .content-page-disconnected,
    .content-page-footer {
      grid-column: 1 / -1;
    }

    .content-page-header,
    .content-page-toc,
    .content-page-body,
    .content-page-disconnected,
    .content-page-footer {
      @media (--prose-sidebar) {
        grid-column: 1;
      }
    }

    .content-page-sidebar {
      @media (--prose-sidebar) {
        grid-column: 2;
        grid-row: 1 / -1;
      }
    }

    .content-page-header,
    .content-page-toc,
    .content-page-body,
    .content-page-footer {
      box-shadow: var(--shadow-raised-to-top-center);

      @media (--prose) {
        box-shadow: var(--shadow-raised-to-top-left);
      }
    }

    .content-page-toc,
    .content-page-body,
    .content-page-footer {
      background: var(--color-regular);
      color: var(--color-on-regular);
    }

    .content-page-toc-body,
    .content-page-body,
    .content-page-footer {
      padding-inline: var(--gutter);
    }

    .content-page-body,
    .content-page-footer {
      padding-block: var(--gutter);

      @media (--prose) {
        border-inline: var(--border-size-sm) solid var(--color-border);
      }
    }

    .content-page-header,
    .content-page-toc {
      @media (--smaller-than-prose) {
        border-inline: none;
      }
    }

    .content-page-header {
      border-end-start-radius: 0;
      border-end-end-radius: 0;
    }

    .content-page-toc {
      @media (--prose-sidebar) {
        position: sticky;
        top: calc(var(--gutter) / 2);
        border-radius: var(--border-radii-md);
      }

      & h2 {
        font-size: var(--font-size-2xl);

        @media (--prose-x2) {
          font-size: var(--font-size-lg);
        }
      }
    }

    .content-page-toc-body {
      padding-block: var(--spacing-md);
    }

    :where(.content-page:has(.content-page-toc)) .content-page-header {
      @media (--smaller-than-prose-sidebar) {
        border-block-end: none;
      }
    }

    :where(.content-page:has(.content-page-disconnected)) .content-page-body {
      margin-block-end: var(--gutter);
    }

    :where(.content-page:has(.content-page-disconnected)) .content-page-body,
    .content-page-body:where(:last-child),
    .content-page-footer {
      border-block-end: var(--border-size-sm) solid var(--color-border);

      @media (--prose) {
        border-end-start-radius: var(--border-radii-md);
        border-end-end-radius: var(--border-radii-md);
      }
    }

    :where(.content-page:has(.content-page-body + .content-page-footer))
      .content-page-body {
      padding-block-end: 0;
    }

    :where(.content-page:has(.content-page-disconnected + .content-page-footer))
      .content-page-footer {
      margin-block-start: var(--gutter);
      border-block-start: var(--border-size-sm) solid var(--color-border);
      border-start-start-radius: var(--border-radii-md);
      border-start-end-radius: var(--border-radii-md);
    }
  }
</style>
