---
import type { ComponentProps } from "astro/types";
import Layout from "../../../templates/layout/layout.astro";
import PageComponent from "../page.astro";

const title = "Page with title and body";

const seo: ComponentProps<typeof Layout>["seo"] = {
  nofollow: true,
  noindex: true,
  title: `${title} | Organisms | Components | Design system`,
};
---

<Layout seo={seo}>
  <PageComponent heading={title}>
    <p slot="body">This is the main content of the page.</p>
  </PageComponent>
</Layout>
