---
import Layout from "../../templates/layout/layout.astro";
import Heading from "../heading/heading.astro";
import ListItem from "./list-item.astro";
import ListComponent from "./list.astro";

const title = "List";
---

<Layout title={title}>
  <Heading as="h2">Usage</Heading>
  <p>
    This component is usually used to define a list of related items, either
    ordered or unordered.
  </p>
  <Heading as="h2">Kind</Heading>
  <Heading as="h3">Unordered</Heading>
  <ListComponent>
    <ListItem>Item 1</ListItem>
    <ListItem>Item 2</ListItem>
    <ListItem>Item 3</ListItem>
  </ListComponent>
  <Heading as="h3">Ordered</Heading>
  <ListComponent as="ol">
    <ListItem>Item 1</ListItem>
    <ListItem>Item 2</ListItem>
    <ListItem>Item 3</ListItem>
  </ListComponent>
  <Heading as="h3">Nesting and mixing</Heading>
  <ListComponent>
    <ListItem>Item 1</ListItem>
    <ListItem>
      Item 2
      <ListComponent as="ol">
        <ListItem>Subitem 1</ListItem>
        <ListItem>Subitem 2</ListItem>
        <ListItem>Subitem 3</ListItem>
      </ListComponent>
    </ListItem>
    <ListItem>Item 3</ListItem>
    <ListItem>Item 4</ListItem>
  </ListComponent>
  <Heading as="h2">Options</Heading>
  <Heading as="h3"><code>isInline</code></Heading>
  <ListComponent isInline>
    <ListItem>Item 1</ListItem>
    <ListItem>Item 2</ListItem>
    <ListItem>Item 3</ListItem>
  </ListComponent>
  <Heading as="h3"><code>hideMarker</code></Heading>
  <ListComponent hideMarker>
    <ListItem>Item 1</ListItem>
    <ListItem>Item 2</ListItem>
    <ListItem>Item 3</ListItem>
  </ListComponent>
  <Heading as="h3"><code>hideMarker</code> on a specific item</Heading>
  <ListComponent>
    <ListItem>Item 1</ListItem>
    <ListItem hideMarker>Item 2</ListItem>
    <ListItem>Item 3</ListItem>
  </ListComponent>
</Layout>
