---
import { getStoryMeta } from "../../../utils/stories";
import Heading from "../../atoms/heading/heading.astro";
import Label from "../../atoms/label/label.astro";
import ListItem from "../../atoms/list/list-item.astro";
import List from "../../atoms/list/list.astro";
import TextField from "../../atoms/text-field/text-field.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import LabelledFieldComponent from "./labelled-field.astro";

const title = "LabelledField";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "molecules",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>This component is used to display a field and a label tied together.</p>
    <LabelledFieldComponent>
      <Label for="usage-example" slot="label">A label</Label>
      <TextField id="usage-example" slot="field" type="text" />
    </LabelledFieldComponent>
    <Heading as="h2">Variant: <code>vertical</code> (default)</Heading>
    <Heading as="h3">Default</Heading>
    <LabelledFieldComponent>
      <Label for="vertical-default" slot="label">A label</Label>
      <TextField id="vertical-default" slot="field" type="text" />
    </LabelledFieldComponent>
    <Heading as="h3">With hint</Heading>
    <LabelledFieldComponent>
      <Label for="vertical-hint" slot="label">A label</Label>
      <TextField id="vertical-hint" slot="field" type="text" />
      <Fragment slot="hint">A hint about this field.</Fragment>
    </LabelledFieldComponent>
    <Heading as="h3">With errors</Heading>
    <LabelledFieldComponent>
      <Label for="vertical-errors" slot="label">A label</Label>
      <TextField id="vertical-errors" slot="field" type="text" />
      <List slot="errors">
        <ListItem>error 1 because...</ListItem>
        <ListItem>error 2 because...</ListItem>
      </List>
    </LabelledFieldComponent>
    <Heading as="h3">With hint, errors and spacing</Heading>
    <LabelledFieldComponent>
      <Label for="vertical-hint-errors" slot="label">A label</Label>
      <TextField id="vertical-hint-errors" slot="field" type="text" />
      <Fragment slot="hint">A hint about this field.</Fragment>
      <List slot="errors">
        <ListItem>error 1 because...</ListItem>
        <ListItem>error 2 because...</ListItem>
      </List>
    </LabelledFieldComponent>
    <Heading as="h2">Variant: <code>inline</code></Heading>
    <Heading as="h3">Default</Heading>
    <LabelledFieldComponent variant="inline">
      <Label for="inline-default" slot="label">A label</Label>
      <TextField id="inline-default" slot="field" type="text" />
    </LabelledFieldComponent>
    <Heading as="h3">With hint</Heading>
    <LabelledFieldComponent variant="inline">
      <Label for="inline-hint" slot="label">A label</Label>
      <TextField id="inline-hint" slot="field" type="text" />
      <Fragment slot="hint">A hint about this field.</Fragment>
    </LabelledFieldComponent>
    <Heading as="h3">With errors</Heading>
    <LabelledFieldComponent variant="inline">
      <Label for="inline-errors" slot="label">A label</Label>
      <TextField id="inline-errors" slot="field" type="text" />
      <List slot="errors">
        <ListItem>error 1 because...</ListItem>
        <ListItem>error 2 because...</ListItem>
      </List>
    </LabelledFieldComponent>
    <Heading as="h3">With hint, errors and spacing</Heading>
    <LabelledFieldComponent variant="inline">
      <Label for="inline-hint-errors" slot="label">A label</Label>
      <TextField id="inline-hint-errors" slot="field" type="text" />
      <Fragment slot="hint">A hint about this field.</Fragment>
      <List slot="errors">
        <ListItem>error 1 because...</ListItem>
        <ListItem>error 2 because...</ListItem>
      </List>
    </LabelledFieldComponent>
    <Heading as="h2">Variant: <code>inline-reversed</code></Heading>
    <p>Reversing order can be useful with boolean fields like a checkbox.</p>
    <Heading as="h3">Default</Heading>
    <LabelledFieldComponent variant="inline-reversed">
      <Label for="inline-reversed-default" slot="label">A label</Label>
      <input id="inline-reversed-default" slot="field" type="checkbox" />
    </LabelledFieldComponent>
    <Heading as="h3">With hint</Heading>
    <LabelledFieldComponent variant="inline-reversed">
      <Label for="inline-reversed-hint" slot="label">A label</Label>
      <input id="inline-reversed-hint" slot="field" type="checkbox" />
      <Fragment slot="hint">A hint about this field.</Fragment>
    </LabelledFieldComponent>
    <Heading as="h3">With errors</Heading>
    <LabelledFieldComponent variant="inline-reversed">
      <Label for="inline-reversed-errors" slot="label">A label</Label>
      <input id="inline-reversed-errors" slot="field" type="checkbox" />
      <List slot="errors">
        <ListItem>error 1 because...</ListItem>
        <ListItem>error 2 because...</ListItem>
      </List>
    </LabelledFieldComponent>
    <Heading as="h3">With hint, errors and spacing</Heading>
    <LabelledFieldComponent variant="inline-reversed">
      <Label for="inline-reversed-hint-errors" slot="label">A label</Label>
      <input id="inline-reversed-hint-errors" slot="field" type="checkbox" />
      <Fragment slot="hint">A hint about this field.</Fragment>
      <List slot="errors">
        <ListItem>error 1 because...</ListItem>
        <ListItem>error 2 because...</ListItem>
      </List>
    </LabelledFieldComponent>
  </Fragment>
</PageLayout>
