:root {
  --border-radii-sm: calc(var(--one-px-in-rem) * 2);
  --border-radii-md: calc(var(--border-radii-sm) * 1.5);
  --border-radii-lg: calc(var(--border-radii-md) * 2);
  --border-radii-pill: 999em;
  --border-radii-rounded: 50%;
  --border-size-sm: var(--one-px-in-rem);
  --border-size-md: calc(var(--border-size-sm) * 2);
  --border-size-lg: calc(var(--border-size-sm) * 3);
  --border-size-xl: calc(var(--border-size-sm) * 4);
  --border-size-2xl: calc(var(--border-size-sm) * 6);
}
