:root {
  /* I'd like to use ch unit but this causes CLS with custom font so... */
  --size-prose: 40em;
  --size-navbar: 5em;

  @media (--md-or-above) {
    /* stylelint-disable-next-line -- We need a unit for calc to work. */
    --size-navbar: 0px;
  }
}
