---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"section">;

const { class: className, slot, ...attrs } = Astro.props;
---

<section {...attrs} class:list={[className, "section"]}>
  <header class="section-header">
    <slot name="heading" />
    {
      Astro.slots.has("cta") ? (
        <div class="section-cta">
          <slot name="cta" />
        </div>
      ) : null
    }
  </header>
  <slot />
</section>

<style>
  @layer components {
    .section-header {
      display: flex;
      flex-flow: column wrap;
      place-items: center;
      text-align: center;
      gap: var(--spacing-sm) var(--spacing-md);
      margin-block-end: var(--gutter);
      padding: var(--gutter);
      background: var(--color-regular);
      border-block: var(--border-size-sm) solid var(--color-border);
      box-shadow: var(--shadow-raised-to-top-center);

      @media (--sm-or-above) {
        flex-flow: row nowrap;
        text-align: left;
      }

      @media (--prose) {
        border-inline: var(--border-size-sm) solid var(--color-border);
        border-radius: var(--border-radii-md);
        box-shadow: var(--shadow-raised-to-top-left);
      }
    }

    .section-header > :global(:is(h1, h2, h3, h4, h5, h6)) {
      flex: 1;
    }

    .section-cta {
      display: flex;
      flex-flow: row wrap;
      place-items: center;
      justify-content: center;
      gap: var(--spacing-sm);

      @media (--sm-or-above) {
        margin-inline-start: auto;
      }
    }
  }
</style>
