---
import { getStoryMeta } from "../../../utils/stories";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import NavItemComponent from "./nav-item.astro";

const title = "NavItem";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "molecules",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>
      This component is used to define a navigation item inside a navigation
      list.
    </p>
    <Heading as="h2">Variant: <code>isBlock: false</code> (default)</Heading>
    <NavItemComponent href="#destination">Nav Item</NavItemComponent>
    <Heading as="h3"><code>isBordered</code></Heading>
    <NavItemComponent href="#destination" isBordered>Nav Item</NavItemComponent>
    <Heading as="h3"><code>isRounded</code></Heading>
    <p>And with <code>isBordered</code> to highlight the difference.</p>
    <NavItemComponent href="#destination" isBordered isRounded>
      Nav Item
    </NavItemComponent>
    <Heading as="h3">With icon</Heading>
    <NavItemComponent href="#destination" icon="home" iconSize={40}>
      Nav Item
    </NavItemComponent>
    <Heading as="h3">Tag</Heading>
    <Heading as="h4"><code>a</code></Heading>
    <NavItemComponent as="a" href="#destination">A nav link</NavItemComponent>
    <Heading as="h4"><code>label</code></Heading>
    <p>
      When you are not using the block variant, please consider using a regular <code
        >Label</code
      > component instead.
    </p>
    <NavItemComponent as="label">A nav label</NavItemComponent>
    <Heading as="h2">Variant: <code>isBlock: true</code></Heading>
    <NavItemComponent href="#destination" isBlock>Nav Item</NavItemComponent>
    <Heading as="h3"><code>isBordered</code></Heading>
    <NavItemComponent href="#destination" isBlock isBordered>
      Nav Item
    </NavItemComponent>
    <Heading as="h3"><code>isRounded</code></Heading>
    <p>And with <code>isBordered</code> to highlight the difference.</p>
    <NavItemComponent href="#destination" isBlock isBordered isRounded>
      Nav Item
    </NavItemComponent>
    <Heading as="h3">With icon</Heading>
    <NavItemComponent href="#destination" icon="home" iconSize={40} isBlock>
      Nav Item
    </NavItemComponent>
    <Heading as="h3">Tag</Heading>
    <Heading as="h4"><code>a</code></Heading>
    <NavItemComponent as="a" href="#destination" isBlock
      >A nav link</NavItemComponent
    >
    <Heading as="h4"><code>label</code></Heading>
    <NavItemComponent as="label" isBlock>A nav label</NavItemComponent>
  </Fragment>
</PageLayout>
