---
import { getStoryMeta } from "../../../utils/stories";
import CodePreview from "../../molecules/code-preview/code-preview.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import Heading from "../heading/heading.astro";
import SocialLinkComponent from "./social-link.astro";

const title = "SocialLink";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "atoms",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Introduction</Heading>
    <p>
      A <code>SocialLink</code> is a link designed as a button that should redirect
      the user to an external website.
    </p>
    <CodePreview
      code={`import SocialLink from "./components/atoms/social-link/social-link.astro";`}
      label="How to import"
      lang="ts"
    />
    <CodePreview
      code={`<SocialLink medium="email" url="#something" />`}
      label="Basic use"
      lang="astro"
    >
      <SocialLinkComponent medium="email" url="#something" />
    </CodePreview>
    <Heading as="h2">Supported media</Heading>
    <CodePreview
      code={`<SocialLink medium="bluesky" url="#bluesky" />
<br />
<SocialLink medium="diaspora" url="#diaspora" />
<br />
<SocialLink medium="email" url="#email" />
<br />
<SocialLink medium="facebook" url="#facebook" />
<br />
<SocialLink medium="github" url="#github" />
<br />
<SocialLink medium="gitlab" url="#gitlab" />
<br />
<SocialLink medium="linkedin" url="#linkedin" />
<br />
<SocialLink medium="mastodon" url="#mastodon" />
<br />
<SocialLink medium="reddit" url="#reddit" />
<br />
<SocialLink medium="stackoverflow" url="#stackoverflow" />
<br />
<SocialLink medium="whatsapp" url="#whatsapp" />
<br />
<SocialLink medium="x" url="#x" />`}
      label="Using the supported media"
      lang="astro"
    >
      <SocialLinkComponent medium="bluesky" url="#bluesky" />
      <br />
      <SocialLinkComponent medium="diaspora" url="#diaspora" />
      <br />
      <SocialLinkComponent medium="email" url="#email" />
      <br />
      <SocialLinkComponent medium="facebook" url="#facebook" />
      <br />
      <SocialLinkComponent medium="github" url="#github" />
      <br />
      <SocialLinkComponent medium="gitlab" url="#gitlab" />
      <br />
      <SocialLinkComponent medium="linkedin" url="#linkedin" />
      <br />
      <SocialLinkComponent medium="mastodon" url="#mastodon" />
      <br />
      <SocialLinkComponent medium="reddit" url="#reddit" />
      <br />
      <SocialLinkComponent medium="stackoverflow" url="#stackoverflow" />
      <br />
      <SocialLinkComponent medium="whatsapp" url="#whatsapp" />
      <br />
      <SocialLinkComponent medium="x" url="#x" />
    </CodePreview>
    <Heading as="h3">Hiding the label</Heading>
    <CodePreview
      code={`<SocialLink hideLabel medium="bluesky" url="#bluesky" />
<br />
<SocialLink hideLabel medium="diaspora" url="#diaspora" />
<br />
<SocialLink hideLabel medium="email" url="#email" />
<br />
<SocialLink hideLabel medium="facebook" url="#facebook" />
<br />
<SocialLink hideLabel medium="github" url="#github" />
<br />
<SocialLink hideLabel medium="gitlab" url="#gitlab" />
<br />
<SocialLink hideLabel medium="linkedin" url="#linkedin" />
<br />
<SocialLink hideLabel medium="mastodon" url="#mastodon" />
<br />
<SocialLink hideLabel medium="reddit" url="#reddit" />
<br />
<SocialLink hideLabel medium="stackoverflow" url="#stackoverflow" />
<br />
<SocialLink hideLabel medium="whatsapp" url="#whatsapp" />
<br />
<SocialLink hideLabel medium="x" url="#x" />`}
      label="Using a social link without label"
      lang="astro"
    >
      <SocialLinkComponent hideLabel medium="bluesky" url="#bluesky" />
      <br />
      <SocialLinkComponent hideLabel medium="diaspora" url="#diaspora" />
      <br />
      <SocialLinkComponent hideLabel medium="email" url="#email" />
      <br />
      <SocialLinkComponent hideLabel medium="facebook" url="#facebook" />
      <br />
      <SocialLinkComponent hideLabel medium="github" url="#github" />
      <br />
      <SocialLinkComponent hideLabel medium="gitlab" url="#gitlab" />
      <br />
      <SocialLinkComponent hideLabel medium="linkedin" url="#linkedin" />
      <br />
      <SocialLinkComponent hideLabel medium="mastodon" url="#mastodon" />
      <br />
      <SocialLinkComponent hideLabel medium="reddit" url="#reddit" />
      <br />
      <SocialLinkComponent
        hideLabel
        medium="stackoverflow"
        url="#stackoverflow"
      />
      <br />
      <SocialLinkComponent hideLabel medium="whatsapp" url="#whatsapp" />
      <br />
      <SocialLinkComponent hideLabel medium="x" url="#x" />
    </CodePreview>
    <Heading as="h3">Using a custom label</Heading>
    <CodePreview
      code={`<SocialLink
  label="Share on Mastodon"
  medium="mastodon"
  url="#mastodon"
/>`}
      label="Using a custom label"
      lang="astro"
    >
      <SocialLinkComponent
        label="Share on Mastodon"
        medium="mastodon"
        url="#mastodon"
      />
    </CodePreview>
  </Fragment>
</PageLayout>
