---
import { getStoryMeta } from "../../../utils/stories";
import Heading from "../../atoms/heading/heading.astro";
import CodePreview from "../../molecules/code-preview/code-preview.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import TOC from "./table-of-contents.astro";

const title = "TableOfContents";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "organisms",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>
      A <code>TableOfContents</code> component should be used on a page to help user
      navigates through that page using headings.
    </p>
    <CodePreview
      code={`import TableOfContents from "./components/organisms/table-of-contents/table-of-contents.astro";`}
      label="How to import"
      lang="ts"
    />
    <CodePreview
      code={`<TableOfContents
  headings={[
    { label: "qui velit ratione", slug: "#rerum-velit-dolorem" },
    { label: "dolorem sit omnis", slug: "#quam-fuga-voluptas" },
    { label: "inventore qui suscipit", slug: "#culpa-asperiores-atque" },
  ]}
/>`}
      label="Basic use"
      lang="astro"
    >
      <TOC
        headings={[
          { label: "qui velit ratione", slug: "#rerum-velit-dolorem" },
          { label: "dolorem sit omnis", slug: "#quam-fuga-voluptas" },
          { label: "inventore qui suscipit", slug: "#culpa-asperiores-atque" },
        ]}
      />
    </CodePreview>
    <Heading as="h2">Nested structure</Heading>
    <CodePreview
      code={`<TableOfContents
  headings={[
    { label: "dolorum nihil nobis", slug: "#dignissimos-ipsa-ex" },
    {
      label: "quam eum corrupti",
      slug: "#et-blanditiis-ducimus",
      children: [
        {
          label: "nam explicabo facere",
          slug: "#voluptates-minus-molestiae",
        },
        { label: "minus non aut", slug: "#doloremque-cum-neque" },
      ],
    },
    {
      label: "cupiditate atque reprehenderit",
      slug: "#eum-vero-consequatur",
      children: [
        {
          label: "similique soluta adipisci",
          slug: "#aperiam-autem-aut",
          children: [
            {
              label: "doloribus molestiae eos",
              slug: "#molestias-sint-et",
            },
            { label: "aut illo quibusdam", slug: "#a-cum-eum" },
          ],
        },
        { label: "labore labore qui", slug: "#quaerat-et-amet" },
      ],
    },
    { label: "laudantium quia recusandae", slug: "#iste-accusamus-quod" },
  ]}
/>`}
      label="Basic use"
      lang="astro"
    >
      <TOC
        headings={[
          { label: "dolorum nihil nobis", slug: "#dignissimos-ipsa-ex" },
          {
            label: "quam eum corrupti",
            slug: "#et-blanditiis-ducimus",
            children: [
              {
                label: "nam explicabo facere",
                slug: "#voluptates-minus-molestiae",
              },
              { label: "minus non aut", slug: "#doloremque-cum-neque" },
            ],
          },
          {
            label: "cupiditate atque reprehenderit",
            slug: "#eum-vero-consequatur",
            children: [
              {
                label: "similique soluta adipisci",
                slug: "#aperiam-autem-aut",
                children: [
                  {
                    label: "doloribus molestiae eos",
                    slug: "#molestias-sint-et",
                  },
                  { label: "aut illo quibusdam", slug: "#a-cum-eum" },
                ],
              },
              { label: "labore labore qui", slug: "#quaerat-et-amet" },
            ],
          },
          { label: "laudantium quia recusandae", slug: "#iste-accusamus-quod" },
        ]}
      />
    </CodePreview>
  </Fragment>
</PageLayout>
