---
import type { ComponentProps } from "astro/types";
import Heading from "../../atoms/heading/heading.astro";
import Page from "../../organisms/page/page.astro";
import Layout from "../../templates/layout/layout.astro";
import SkipToComponent from "./skip-to.astro";

const title = "SkipTo";
const seo: ComponentProps<typeof Layout>["seo"] = {
  nofollow: true,
  noindex: true,
  title: `${title} | Molecules | Components | Design system`,
};
---

<Layout seo={seo}>
  <Page heading={title}>
    <Fragment slot="body">
      <Heading as="h2">Usage</Heading>
      <p>
        A SkipLink component is special. It is used to navigate through a page
        using anchors.
      </p>
      <p>
        Click here then use <kbd>Tab</kbd> key to focus the skip link below. It should
        then appears on the top left of your screen.
      </p>
      <SkipToComponent anchor="#some-id">
        Skip to some anchor on the page
      </SkipToComponent>
    </Fragment>
  </Page>
</Layout>
