---
import type { ComponentProps } from "astro/types";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import SkipToComponent from "./skip-to.astro";

const title = "SkipTo";
const breadcrumb: ComponentProps<typeof PageLayout>["breadcrumb"] = [
  { label: "Home", url: "/" },
  { label: "Design system", url: "/design-system" },
  { label: "Components", url: "/design-system/components" },
  { label: "Molecules", url: "/design-system/components/molecules" },
  { label: title, url: Astro.url.href },
];
const seo: ComponentProps<typeof PageLayout>["seo"] = {
  nofollow: true,
  noindex: true,
  title: breadcrumb
    .slice(1)
    .reverse()
    .map((crumb) => crumb.label)
    .join(" | "),
};
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>
      A SkipLink component is special. It is used to navigate through a page
      using anchors.
    </p>
    <p>
      Click here then use <kbd>Tab</kbd> key to focus the skip link below. It should
      then appears on the top left of your screen.
    </p>
    <SkipToComponent anchor="#some-id">
      Skip to some anchor on the page
    </SkipToComponent>
  </Fragment>
</PageLayout>
