---
import type { ComponentProps } from "astro/types";
import Box from "../../atoms/box/box.astro";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import CollapsibleComponent from "./collapsible.astro";

const title = "Collapsible";
const breadcrumb: ComponentProps<typeof PageLayout>["breadcrumb"] = [
  { label: "Home", url: "/" },
  { label: "Design system", url: "/design-system" },
  { label: "Components", url: "/design-system/components" },
  { label: "Molecules", url: "/design-system/components/molecules" },
  { label: title, url: Astro.url.href },
];
const seo: ComponentProps<typeof PageLayout>["seo"] = {
  nofollow: true,
  noindex: true,
  title: breadcrumb
    .slice(1)
    .reverse()
    .map((crumb) => crumb.label)
    .join(" | "),
};
---

<PageLayout breadcrumb={breadcrumb} heading={title} seo={seo}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>
      This component let you toggle the visibility of its contents by clicking
      on its label.
    </p>
  </Fragment>
  <Fragment slot="disconnected-body">
    <CollapsibleComponent>
      <span slot="label">A label</span>
      The collapsible body
    </CollapsibleComponent>
    <Box
      elevation="raised"
      isBordered
      isCentered
      isPadded
      isProse
      isRounded
      isSpaced
    >
      <Heading as="h2">Using <code>isProse</code></Heading>
    </Box>
    <CollapsibleComponent isProse>
      <span slot="label">A label</span>
      The collapsible body
    </CollapsibleComponent>
  </Fragment>
</PageLayout>
