---
import type { ComponentProps } from "astro/types";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import Heading from "../heading/heading.astro";
import VarComponent from "./var.astro";

const title = "Var";
const breadcrumb: ComponentProps<typeof PageLayout>["breadcrumb"] = [
  { label: "Home", url: "/" },
  { label: "Design system", url: "/design-system" },
  { label: "Components", url: "/design-system/components" },
  { label: "Atoms", url: "/design-system/components/atoms" },
  { label: title, url: Astro.url.href },
];
const seo: ComponentProps<typeof PageLayout>["seo"] = {
  nofollow: true,
  noindex: true,
  title: breadcrumb
    .slice(1)
    .reverse()
    .map((crumb) => crumb.label)
    .join(" | "),
};
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>
      This component can be used to represent the name of a variable in a
      mathematical expression or a programming context.
    </p>
    <p>
      Example with an equation: <VarComponent>x</VarComponent> = <VarComponent
        >y</VarComponent
      > + 2
    </p>
  </Fragment>
</PageLayout>
