---
import { getStoryMeta } from "../../../utils/stories";
import CodePreview from "../../molecules/code-preview/code-preview.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import Heading from "../heading/heading.astro";
import Img from "../img/img.astro";
import FigureComponent from "./figure.astro";

const title = "Figure";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "atoms",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Introduction</Heading>
    <p>
      A figure can be an image, illustration, diagram, code snippet, etc. that
      can be moved to another part of the document without affecting the main
      flow.
    </p>
    <CodePreview
      code={`import Figure from "./components/atoms/figure/figure.astro"`}
      label="How to import"
      lang="ts"
    />
    <CodePreview
      code={`<Figure>The figure contents.</Figure>`}
      label="Basic use"
      lang="astro"
    >
      <FigureComponent>The figure contents.</FigureComponent>
    </CodePreview>
    <Heading as="h2">Without figcaption</Heading>
    <FigureComponent>
      <Img
        alt="An example"
        height={480}
        src="https://picsum.photos/640/480"
        width={640}
      />
    </FigureComponent>
    <Heading as="h2">With figcaption</Heading>
    <Heading as="h3">At the top</Heading>
    <CodePreview
      code={`<Figure>
  <figcaption>An image used as example</figcaption>
  <Img
    alt="An example"
    height={480}
    src="https://picsum.photos/640/480"
    width={640}
  />
</Figure>`}
      label="Using a caption at the top"
      lang="astro"
    >
      <FigureComponent>
        <figcaption>An image used as example</figcaption>
        <Img
          alt="An example"
          height={480}
          src="https://picsum.photos/640/480"
          width={640}
        />
      </FigureComponent>
    </CodePreview>
    <Heading as="h3">At the bottom</Heading>
    <CodePreview
      code={`<Figure>
  <Img
    alt="An example"
    height={480}
    src="https://picsum.photos/640/480"
    width={640}
  />
  <figcaption>An image used as example</figcaption>
</Figure>`}
      label="Using a caption at the bottom"
      lang="astro"
    >
      <FigureComponent>
        <Img
          alt="An example"
          height={480}
          src="https://picsum.photos/640/480"
          width={640}
        />
        <figcaption>An image used as example</figcaption>
      </FigureComponent>
    </CodePreview>
    <Heading as="h2">Horizontally centered</Heading>
    <CodePreview
      code={`<Figure isCentered>
  <Img
    alt="An example"
    height={480}
    src="https://picsum.photos/640/480"
    width={640}
  />
</Figure>`}
      label="Using a centered figure"
      lang="astro"
    >
      <FigureComponent isCentered>
        <Img
          alt="An example"
          height={480}
          src="https://picsum.photos/640/480"
          width={640}
        />
      </FigureComponent>
    </CodePreview>
    <Heading as="h2">Full width</Heading>
    <CodePreview
      code={`<Figure isFullWidth>
  <Img
    alt="An example"
    height={480}
    src="https://picsum.photos/640/480"
    width={640}
  />
</Figure>`}
      label="Using a full width figure"
      lang="astro"
    >
      <FigureComponent isFullWidth>
        <Img
          alt="An example"
          height={480}
          src="https://picsum.photos/640/480"
          width={640}
        />
      </FigureComponent>
    </CodePreview>
  </Fragment>
</PageLayout>
