---
import type { ComponentProps } from "astro/types";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import Heading from "../heading/heading.astro";
import ButtonComponent from "./button.astro";

const title = "Button";
const breadcrumb: ComponentProps<typeof PageLayout>["breadcrumb"] = [
  { label: "Home", url: "/" },
  { label: "Design system", url: "/design-system" },
  { label: "Components", url: "/design-system/components" },
  { label: "Atoms", url: "/design-system/components/atoms" },
  { label: title, url: Astro.url.href },
];
const seo: ComponentProps<typeof PageLayout>["seo"] = {
  nofollow: true,
  noindex: true,
  title: breadcrumb
    .slice(1)
    .reverse()
    .map((crumb) => crumb.label)
    .join(" | "),
};
---

<PageLayout breadcrumb={breadcrumb} heading={title} seo={seo}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>A button is usually used to encourage a user to take action.</p>
    <Heading as="h2">Primary buttons</Heading>
    <Heading as="h3">States</Heading>
    <Heading as="h4">Default</Heading>
    <ButtonComponent kind="primary">Call to action</ButtonComponent>
    <Heading as="h4">Busy</Heading>
    <ButtonComponent aria-busy="true" kind="primary">
      Call to action
    </ButtonComponent>
    <Heading as="h4">Disabled</Heading>
    <ButtonComponent disabled="true" kind="primary">
      Call to action
    </ButtonComponent>
    <Heading as="h2">Secondary buttons</Heading>
    <p>
      When using the <code>secondary</code> kind (default), you can choose to use
      either a button or a link with the <code>as</code> property.
    </p>
    <Heading as="h3">States</Heading>
    <Heading as="h4">Default</Heading>
    <ButtonComponent>Call to action</ButtonComponent>
    <Heading as="h4">Busy</Heading>
    <ButtonComponent aria-busy="true">Call to action</ButtonComponent>
    <Heading as="h4">Disabled</Heading>
    <ButtonComponent disabled="true">Call to action</ButtonComponent>
    <Heading as="h3"><code>isExternal</code></Heading>
    <ButtonComponent isExternal>Call to action</ButtonComponent>
    <Heading as="h2">Discreet buttons</Heading>
    <p>
      When using the <code>discreet</code> kind, you can choose to use either a button
      or a link with the <code>as</code> property. This is a variant of the secondary
      kind.
    </p>
    <Heading as="h3">States</Heading>
    <Heading as="h4">Default</Heading>
    <ButtonComponent kind="discreet">Call to action</ButtonComponent>
    <Heading as="h4">Busy</Heading>
    <ButtonComponent aria-busy="true" kind="discreet">
      Call to action
    </ButtonComponent>
    <Heading as="h4">Disabled</Heading>
    <ButtonComponent disabled="true" kind="discreet">
      Call to action
    </ButtonComponent>
    <Heading as="h3"><code>isExternal</code></Heading>
    <ButtonComponent isExternal kind="discreet">Call to action</ButtonComponent>
    <Heading as="h2">Neutral buttons</Heading>
    <p>
      When using the <code>neutral</code> kind, you can choose to use either a button
      or a link with the <code>as</code> property and you are free the style as you'd
      like.
    </p>
    <Heading as="h3">States</Heading>
    <Heading as="h4">Default</Heading>
    <ButtonComponent kind="neutral">Call to action</ButtonComponent>
    <Heading as="h4">Busy</Heading>
    <ButtonComponent aria-busy="true" kind="neutral">
      Call to action
    </ButtonComponent>
    <Heading as="h4">Disabled</Heading>
    <ButtonComponent disabled="true" kind="neutral">
      Call to action
    </ButtonComponent>
    <Heading as="h3"><code>isExternal</code></Heading>
    <ButtonComponent isExternal kind="neutral">Call to action</ButtonComponent>
  </Fragment>
</PageLayout>
