---
import { getStoryMeta } from "../../../utils/stories";
import CodePreview from "../../molecules/code-preview/code-preview.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import Heading from "../heading/heading.astro";
import ButtonComponent from "./button.astro";

const title = "Button";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "atoms",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Introduction</Heading>
    <p>A button is usually used to encourage a user to take action.</p>
    <CodePreview
      code={`import Button from "./components/atoms/button/button.astro"`}
      label="How to import"
    />
    <CodePreview code={`<Button>A label</Button>`} label="Basic use">
      <ButtonComponent>A label</ButtonComponent>
    </CodePreview>
    <Heading as="h2">Button kinds</Heading>
    <p>
      Buttons comes with 4 variants. You should use <code>primary</code> for important
      call to actions.
    </p>
    <CodePreview
      code={`<ButtonComponent kind="primary">A primary button</ButtonComponent>
<br />
<ButtonComponent kind="secondary">A secondary button</ButtonComponent>
<br />
<ButtonComponent kind="discreet">A discreet button</ButtonComponent>
<br />
<ButtonComponent kind="neutral">A neutral button</ButtonComponent>`}
      label="Using different kinds of buttons"
    >
      <ButtonComponent kind="primary">A primary button</ButtonComponent>
      <br />
      <ButtonComponent kind="secondary">A secondary button</ButtonComponent>
      <br />
      <ButtonComponent kind="discreet">A discreet button</ButtonComponent>
      <br />
      <ButtonComponent kind="neutral">A neutral button</ButtonComponent>
    </CodePreview>
    <Heading as="h2">States</Heading>
    <Heading as="h3">Busy</Heading>
    <CodePreview
      code={`<ButtonComponent aria-busy="true" kind="primary">A primary button</ButtonComponent>
<br />
<ButtonComponent aria-busy="true" kind="secondary">A secondary button</ButtonComponent>
<br />
<ButtonComponent aria-busy="true" kind="discreet">A discreet button</ButtonComponent>
<br />
<ButtonComponent aria-busy="true" kind="neutral">A neutral button</ButtonComponent>`}
      label="Using aria-busy on different kinds of buttons"
    >
      <ButtonComponent aria-busy="true" kind="primary"
        >A primary button</ButtonComponent
      >
      <br />
      <ButtonComponent aria-busy="true" kind="secondary"
        >A secondary button</ButtonComponent
      >
      <br />
      <ButtonComponent aria-busy="true" kind="discreet"
        >A discreet button</ButtonComponent
      >
      <br />
      <ButtonComponent aria-busy="true" kind="neutral"
        >A neutral button</ButtonComponent
      >
    </CodePreview>
    <Heading as="h3">Disabled</Heading>
    <CodePreview
      code={`<ButtonComponent disabled="true" kind="primary">A primary button</ButtonComponent>
<br />
<ButtonComponent disabled="true" kind="secondary">A secondary button</ButtonComponent>
<br />
<ButtonComponent disabled="true" kind="discreet">A discreet button</ButtonComponent>
<br />
<ButtonComponent disabled="true" kind="neutral">A neutral button</ButtonComponent>`}
      label="Using disabled on different kinds of buttons"
    >
      <ButtonComponent disabled="true" kind="primary"
        >A primary button</ButtonComponent
      >
      <br />
      <ButtonComponent disabled="true" kind="secondary"
        >A secondary button</ButtonComponent
      >
      <br />
      <ButtonComponent disabled="true" kind="discreet"
        >A discreet button</ButtonComponent
      >
      <br />
      <ButtonComponent disabled="true" kind="neutral"
        >A neutral button</ButtonComponent
      >
    </CodePreview>
    <Heading as="h3"><code>isExternal</code></Heading>
    <CodePreview
      code={`<ButtonComponent isExternal kind="secondary">A secondary button</ButtonComponent>
<br />
<ButtonComponent isExternal kind="discreet">A discreet button</ButtonComponent>
<br />
<ButtonComponent isExternal kind="neutral">A neutral button</ButtonComponent>`}
      label="Using isExternal on different kinds of buttons"
    >
      <ButtonComponent isExternal kind="secondary"
        >A secondary button</ButtonComponent
      >
      <br />
      <ButtonComponent isExternal kind="discreet"
        >A discreet button</ButtonComponent
      >
      <br />
      <ButtonComponent isExternal kind="neutral"
        >A neutral button</ButtonComponent
      >
    </CodePreview>
    <Heading as="h2">Links as button</Heading>
    <p>
      Sometimes, links can be designed as a button. This component handles this
      with the <code>as</code> property for <code>secondary</code>, <code
        >discreet</code
      > and <code>neutral</code> buttons. If you try to use a link with a <code
        >primary</code
      > button an error will be thrown.
    </p>
    <CodePreview
      code={`<ButtonComponent as="a" href="#link" kind="secondary">A secondary button</ButtonComponent>
<br />
<ButtonComponent as="a" href="#link" kind="discreet">A discreet button</ButtonComponent>
<br />
<ButtonComponent as="a" href="#link" kind="neutral">A neutral button</ButtonComponent>`}
      label="Using a link instead of a button"
    >
      <ButtonComponent as="a" href="#link" kind="secondary"
        >A secondary button</ButtonComponent
      >
      <br />
      <ButtonComponent as="a" href="#link" kind="discreet"
        >A discreet button</ButtonComponent
      >
      <br />
      <ButtonComponent as="a" href="#link" kind="neutral"
        >A neutral button</ButtonComponent
      >
    </CodePreview>
    <p>
      States should behave the same when using a link instead of a button.
      However, note that a link can't be disabled.
    </p>
    <Heading as="h3">Busy links</Heading>
    <CodePreview
      code={`<ButtonComponent aria-busy="true" as="a" href="#link" kind="secondary">A secondary button</ButtonComponent>
<br />
<ButtonComponent aria-busy="true" as="a" href="#link" kind="discreet">A discreet button</ButtonComponent>
<br />
<ButtonComponent aria-busy="true" as="a" href="#link" kind="neutral">A neutral button</ButtonComponent>`}
      label="Using a busy link instead of a button"
    >
      <ButtonComponent aria-busy="true" as="a" href="#link" kind="secondary"
        >A secondary button</ButtonComponent
      >
      <br />
      <ButtonComponent aria-busy="true" as="a" href="#link" kind="discreet"
        >A discreet button</ButtonComponent
      >
      <br />
      <ButtonComponent aria-busy="true" as="a" href="#link" kind="neutral"
        >A neutral button</ButtonComponent
      >
    </CodePreview>
    <Heading as="h3">External links</Heading>
    <CodePreview
      code={`<ButtonComponent as="a" href="#link" isExternal kind="secondary">A secondary button</ButtonComponent>
<br />
<ButtonComponent as="a" href="#link" isExternal kind="discreet">A discreet button</ButtonComponent>
<br />
<ButtonComponent as="a" href="#link" isExternal kind="neutral">A neutral button</ButtonComponent>`}
      label="Using an external link instead of a button"
    >
      <ButtonComponent as="a" href="#link" isExternal kind="secondary"
        >A secondary button</ButtonComponent
      >
      <br />
      <ButtonComponent as="a" href="#link" isExternal kind="discreet"
        >A discreet button</ButtonComponent
      >
      <br />
      <ButtonComponent as="a" href="#link" isExternal kind="neutral"
        >A neutral button</ButtonComponent
      >
    </CodePreview>
  </Fragment>
</PageLayout>
