---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"span"> & {
  creationYear: number;
  owner: string;
};

const { creationYear, owner, ...attrs } = Astro.props;

const currentYear = new Date().getFullYear();
---

<span {...attrs}>
  &copy; {creationYear}{
    currentYear === creationYear ? null : ` - ${currentYear}`
  }
  {owner}.
</span>
