---
import { getStoryMeta } from "../../../utils/stories";
import CodePreview from "../../molecules/code-preview/code-preview.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import Heading from "../heading/heading.astro";
import CopyrightComponent from "./copyright.astro";

const title = "Copyright";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "atoms",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading>Introduction</Heading>
    <p>
      A Copyright component is usually used in the website's footer to display
      the copyright.
    </p>
    <CodePreview
      code={`import Copyright from "./components/atoms/copyright/copyright.astro"`}
      label="How to import"
      lang="ts"
    />
    <CodePreview
      code={`<Copyright creationYear={2025} owner="John Doe" />`}
      label="Basic use"
      lang="astro"
    >
      <CopyrightComponent creationYear={2025} owner="John Doe" />
    </CodePreview>
    <Heading>Different current and creation years</Heading>
    <p>
      When the creation year is different from the current one, both years will
      be displayed.
    </p>
    <CodePreview
      code={`<Copyright creationYear={2020} owner="John Doe" />`}
      label="Automatic handling of dates"
      lang="astro"
    >
      <CopyrightComponent creationYear={2020} owner="John Doe" />
    </CodePreview>
  </Fragment>
</PageLayout>
