:root {
  --color-border: var(--color-grey);
  --color-border-darker: var(--color-grey-darker);
  --color-border-dark: var(--color-grey-dark);
  --color-border-light: var(--color-grey-light);
  --color-border-lighter: var(--color-grey-lighter);
  --color-critical: var(--color-red);
  --color-critical-darker: var(--color-red-darker);
  --color-critical-dark: var(--color-red-dark);
  --color-critical-light: var(--color-red-light);
  --color-critical-lighter: var(--color-red-lighter);
  --color-on-critical: var(--color-regular);
  --color-critical-faded: var(--color-red-faded);
  --color-on-critical-faded: var(--color-critical-subtle);
  --color-critical-subtle: var(--color-red-subtle);
  --color-on-critical-subtle: var(--color-critical-faded);
  --color-discovery: var(--color-purple);
  --color-discovery-darker: var(--color-purple-darker);
  --color-discovery-dark: var(--color-purple-dark);
  --color-discovery-light: var(--color-purple-light);
  --color-discovery-lighter: var(--color-purple-lighter);
  --color-on-discovery: var(--color-regular);
  --color-discovery-faded: var(--color-purple-faded);
  --color-on-discovery-faded: var(--color-discovery-subtle);
  --color-discovery-subtle: var(--color-purple-subtle);
  --color-on-discovery-subtle: var(--color-discovery-faded);
  --color-idea: var(--color-yellow);
  --color-idea-darker: var(--color-yellow-darker);
  --color-idea-dark: var(--color-yellow-dark);
  --color-idea-light: var(--color-yellow-light);
  --color-idea-lighter: var(--color-yellow-lighter);
  --color-on-idea: var(--color-regular);
  --color-idea-faded: var(--color-yellow-faded);
  --color-on-idea-faded: var(--color-idea-subtle);
  --color-idea-subtle: var(--color-yellow-subtle);
  --color-on-idea-subtle: var(--color-idea-faded);
  --color-info: var(--color-blue);
  --color-info-darker: var(--color-blue-darker);
  --color-info-dark: var(--color-blue-dark);
  --color-info-light: var(--color-blue-light);
  --color-info-lighter: var(--color-blue-lighter);
  --color-on-info: var(--color-regular);
  --color-info-faded: var(--color-blue-faded);
  --color-on-info-faded: var(--color-info-subtle);
  --color-info-subtle: var(--color-blue-subtle);
  --color-on-info-subtle: var(--color-info-faded);
  --color-muted: var(--color-grey);
  --color-muted-darker: var(--color-grey-darker);
  --color-muted-dark: var(--color-grey-dark);
  --color-muted-light: var(--color-grey-light);
  --color-muted-lighter: var(--color-grey-lighter);
  --color-muted-faded: var(--color-grey-faded);
  --color-on-muted-faded: var(--color-muted-subtle);
  --color-muted-subtle: var(--color-grey-subtle);
  --color-on-muted-subtle: var(--color-muted-faded);
  --color-primary: var(--color-blue);
  --color-primary-darker: var(--color-blue-darker);
  --color-primary-dark: var(--color-blue-dark);
  --color-primary-light: var(--color-blue-light);
  --color-primary-lighter: var(--color-blue-lighter);
  --color-on-primary: var(--color-regular);
  --color-primary-faded: var(--color-blue-faded);
  --color-on-primary-faded: var(--color-primary-subtle);
  --color-primary-subtle: var(--color-blue-subtle);
  --color-on-primary-subtle: var(--color-primary-faded);
  --color-success: var(--color-green);
  --color-success-darker: var(--color-green-darker);
  --color-success-dark: var(--color-green-dark);
  --color-success-light: var(--color-green-light);
  --color-success-lighter: var(--color-green-lighter);
  --color-on-success: var(--color-regular);
  --color-success-faded: var(--color-green-faded);
  --color-on-success-faded: var(--color-success-subtle);
  --color-success-subtle: var(--color-green-subtle);
  --color-on-success-subtle: var(--color-success-faded);
  --color-warning: var(--color-orange);
  --color-warning-darker: var(--color-orange-darker);
  --color-warning-dark: var(--color-orange-dark);
  --color-warning-light: var(--color-orange-light);
  --color-warning-lighter: var(--color-orange-lighter);
  --color-on-warning: var(--color-regular);
  --color-warning-faded: var(--color-orange-faded);
  --color-on-warning-faded: var(--color-warning-subtle);
  --color-warning-subtle: var(--color-orange-subtle);
  --color-on-warning-subtle: var(--color-warning-faded);
}

[data-shiki] pre {
  --color-shiki-line-added: var(--color-green-subtle);
  --color-shiki-on-line-added: var(--color-green-darker);
  --color-shiki-line-removed: var(--color-red-subtle);
  --color-shiki-on-line-removed: var(--color-red-darker);
  --color-shiki-gutter-border: var(--color-grey);
  --color-shiki-token-attribute: var(--color-purple);
  --color-shiki-token-comment: var(--color-grey-faded);
  --color-shiki-token-constant: var(--color-yellow);
  --color-shiki-token-function: var(--color-purple);
  --color-shiki-token-invalid: var(--color-red);
  --color-shiki-token-keyword: var(--color-orange);
  --color-shiki-token-link: var(--color-yellow);
  --color-shiki-token-numeric: var(--color-yellow);
  --color-shiki-token-property: var(--color-cyan);
  --color-shiki-token-property-vendored: var(--color-cyan-light);
  --color-shiki-token-regex: var(--color-pink);
  --color-shiki-token-string: var(--color-green);
  --color-shiki-token-support: var(--color-pink);
  --color-shiki-token-tag: var(--color-cyan);
  --color-shiki-token-type: var(--color-yellow);
  --color-shiki-token-variable: var(--color-blue);
}

[data-shiki="dark"] pre,
[data-theme="dark"] {
  --color-black-subtle: hsl(212deg 52% 3%);
  --color-black-lighter: hsl(218deg 25% 15%);
  --color-black-light: hsl(217deg 27% 13%);
  --color-black: hsl(216deg 30% 10%);
  --color-black-dark: hsl(215deg 33% 8%);
  --color-black-darker: hsl(214deg 30% 7%);
  --color-black-faded: hsl(220deg 19% 65%);
  --color-blue-subtle: hsl(204deg 48% 11%);
  --color-blue-lighter: hsl(214deg 56% 76%);
  --color-blue-light: hsl(212deg 58% 74%);
  --color-blue: hsl(210deg 60% 72%);
  --color-blue-dark: hsl(208deg 62% 70%);
  --color-blue-darker: hsl(206deg 64% 68%);
  --color-blue-faded: hsl(216deg 50% 82%);
  --color-cyan-subtle: hsl(174deg 44% 10%);
  --color-cyan-lighter: hsl(184deg 52% 76%);
  --color-cyan-light: hsl(182deg 56% 73%);
  --color-cyan: hsl(180deg 60% 70%);
  --color-cyan-dark: hsl(178deg 64% 67%);
  --color-cyan-darker: hsl(176deg 68% 64%);
  --color-cyan-faded: hsl(186deg 50% 82%);
  --color-green-subtle: hsl(96deg 44% 10%);
  --color-green-lighter: hsl(104deg 52% 76%);
  --color-green-light: hsl(102deg 56% 73%);
  --color-green: hsl(100deg 60% 70%);
  --color-green-dark: hsl(98deg 64% 67%);
  --color-green-darker: hsl(96deg 68% 64%);
  --color-green-faded: hsl(106deg 50% 80%);
  --color-grey-subtle: hsl(212deg 25% 5%);
  --color-grey-lighter: hsl(218deg 11% 30%);
  --color-grey-light: hsl(217deg 13% 24%);
  --color-grey: hsl(216deg 15% 18%);
  --color-grey-dark: hsl(215deg 18% 15%);
  --color-grey-darker: hsl(214deg 21% 12%);
  --color-grey-faded: hsl(220deg 9% 70%);
  --color-orange-subtle: hsl(26deg 44% 10%);
  --color-orange-lighter: hsl(36deg 52% 76%);
  --color-orange-light: hsl(34deg 56% 73%);
  --color-orange: hsl(32deg 60% 70%);
  --color-orange-dark: hsl(30deg 64% 67%);
  --color-orange-darker: hsl(28deg 68% 64%);
  --color-orange-faded: hsl(38deg 50% 80%);
  --color-pink-subtle: hsl(318deg 44% 10%);
  --color-pink-lighter: hsl(328deg 50% 80%);
  --color-pink-light: hsl(326deg 54% 77%);
  --color-pink: hsl(324deg 58% 74%);
  --color-pink-dark: hsl(322deg 62% 71%);
  --color-pink-darker: hsl(320deg 66% 68%);
  --color-pink-faded: hsl(330deg 46% 83%);
  --color-purple-subtle: hsl(248deg 44% 10%);
  --color-purple-lighter: hsl(260deg 52% 84%);
  --color-purple-light: hsl(256deg 56% 81%);
  --color-purple: hsl(254deg 60% 78%);
  --color-purple-dark: hsl(252deg 64% 75%);
  --color-purple-darker: hsl(250deg 68% 62%);
  --color-purple-faded: hsl(256deg 50% 85%);
  --color-red-subtle: hsl(0deg 44% 10%);
  --color-red-lighter: hsl(10deg 52% 81%);
  --color-red-light: hsl(8deg 56% 77%);
  --color-red: hsl(6deg 60% 74%);
  --color-red-dark: hsl(4deg 64% 71%);
  --color-red-darker: hsl(2deg 68% 68%);
  --color-red-faded: hsl(12deg 50% 84%);
  --color-white-subtle: hsl(222deg 10% 30%);
  --color-white-lighter: hsl(212deg 30% 91%);
  --color-white-light: hsl(214deg 26% 88%);
  --color-white: hsl(216deg 22% 85%);
  --color-white-dark: hsl(218deg 18% 82%);
  --color-white-darker: hsl(220deg 14% 79%);
  --color-white-faded: hsl(210deg 40% 98%);
  --color-yellow-subtle: hsl(48deg 44% 10%);
  --color-yellow-lighter: hsl(58deg 52% 75%);
  --color-yellow-light: hsl(56deg 56% 71%);
  --color-yellow: hsl(54deg 60% 68%);
  --color-yellow-dark: hsl(52deg 64% 65%);
  --color-yellow-darker: hsl(50deg 68% 62%);
  --color-yellow-faded: hsl(60deg 50% 80%);
}

[data-shiki="light"] pre,
[data-theme="light"] {
  --color-black-subtle: hsl(213deg 38% 20%);
  --color-black-lighter: hsl(214deg 40% 16%);
  --color-black-light: hsl(215deg 42% 14%);
  --color-black: hsl(216deg 45% 12%);
  --color-black-dark: hsl(217deg 47% 10%);
  --color-black-darker: hsl(218deg 49% 8%);
  --color-black-faded: hsl(219deg 51% 5%);
  --color-blue-subtle: hsl(220deg 50% 88%);
  --color-blue-lighter: hsl(218deg 62% 30%);
  --color-blue-light: hsl(217deg 64% 28%);
  --color-blue: hsl(216deg 66% 26%);
  --color-blue-dark: hsl(215deg 68% 24%);
  --color-blue-darker: hsl(214deg 70% 22%);
  --color-blue-faded: hsl(213deg 74% 15%);
  --color-cyan-subtle: hsl(180deg 50% 88%);
  --color-cyan-lighter: hsl(180deg 66% 20%);
  --color-cyan-light: hsl(180deg 68% 18%);
  --color-cyan: hsl(180deg 70% 16%);
  --color-cyan-dark: hsl(180deg 72% 14%);
  --color-cyan-darker: hsl(180deg 74% 12%);
  --color-cyan-faded: hsl(180deg 78% 8%);
  --color-green-subtle: hsl(108deg 50% 88%);
  --color-green-lighter: hsl(108deg 64% 22%);
  --color-green-light: hsl(108deg 66% 20%);
  --color-green: hsl(108deg 68% 18%);
  --color-green-dark: hsl(108deg 70% 16%);
  --color-green-darker: hsl(108deg 72% 14%);
  --color-green-faded: hsl(108deg 76% 8%);
  --color-grey-subtle: hsl(216deg 30% 88%);
  --color-grey-lighter: hsl(216deg 14% 79%);
  --color-grey-light: hsl(216deg 16% 77%);
  --color-grey: hsl(216deg 18% 75%);
  --color-grey-dark: hsl(216deg 20% 73%);
  --color-grey-darker: hsl(216deg 22% 71%);
  --color-grey-faded: hsl(216deg 26% 20%);
  --color-orange-subtle: hsl(32deg 50% 88%);
  --color-orange-lighter: hsl(32deg 64% 26%);
  --color-orange-light: hsl(32deg 66% 24%);
  --color-orange: hsl(32deg 68% 22%);
  --color-orange-dark: hsl(32deg 70% 20%);
  --color-orange-darker: hsl(32deg 72% 18%);
  --color-orange-faded: hsl(32deg 76% 15%);
  --color-pink-subtle: hsl(312deg 50% 88%);
  --color-pink-lighter: hsl(312deg 62% 30%);
  --color-pink-light: hsl(312deg 64% 28%);
  --color-pink: hsl(300deg 66% 26%);
  --color-pink-dark: hsl(312deg 68% 24%);
  --color-pink-darker: hsl(312deg 70% 22%);
  --color-pink-faded: hsl(312deg 74% 15%);
  --color-purple-subtle: hsl(274deg 50% 88%);
  --color-purple-lighter: hsl(273deg 62% 30%);
  --color-purple-light: hsl(272deg 64% 28%);
  --color-purple: hsl(271deg 66% 26%);
  --color-purple-dark: hsl(270deg 68% 24%);
  --color-purple-darker: hsl(269deg 70% 22%);
  --color-purple-faded: hsl(268deg 74% 15%);
  --color-red-subtle: hsl(3deg 50% 88%);
  --color-red-lighter: hsl(3deg 62% 34%);
  --color-red-light: hsl(3deg 64% 32%);
  --color-red: hsl(3deg 66% 30%);
  --color-red-dark: hsl(3deg 68% 28%);
  --color-red-darker: hsl(3deg 70% 26%);
  --color-red-faded: hsl(3deg 74% 17%);
  --color-white-subtle: hsl(213deg 16% 100%);
  --color-white-lighter: hsl(214deg 18% 100%);
  --color-white-light: hsl(215deg 20% 98%);
  --color-white: hsl(216deg 22% 96%);
  --color-white-dark: hsl(217deg 24% 94%);
  --color-white-darker: hsl(218deg 26% 92%);
  --color-white-faded: hsl(220deg 30% 30%);
  --color-yellow-subtle: hsl(58deg 55% 85%);
  --color-yellow-lighter: hsl(59deg 62% 22%);
  --color-yellow-light: hsl(60deg 64% 20%);
  --color-yellow: hsl(61deg 66% 18%);
  --color-yellow-dark: hsl(62deg 68% 16%);
  --color-yellow-darker: hsl(63deg 70% 14%);
  --color-yellow-faded: hsl(64deg 74% 10%);
}

[data-theme="dark"] {
  --color-on-muted: var(--color-white);
  --color-regular: var(--color-black);
  --color-regular-darker: var(--color-black-darker);
  --color-regular-dark: var(--color-black-dark);
  --color-regular-light: var(--color-black-light);
  --color-regular-lighter: var(--color-black-lighter);
  --color-on-regular: var(--color-white);
  --color-regular-faded: var(--color-black-faded);
  --color-on-regular-faded: var(--color-regular-subtle);
  --color-regular-subtle: var(--color-black-subtle);
  --color-on-regular-subtle: var(--color-regular-faded);
  --color-shadow: oklch(from var(--color-black) 17% c h);
  --color-shadow-inset: oklch(from var(--color-shadow) l c h / 45%);
  --color-shadow-inset-dark: oklch(from var(--color-shadow) l c h / 50%);
}

[data-theme="light"] {
  --color-on-muted: var(--color-black);
  --color-regular: var(--color-white);
  --color-regular-darker: var(--color-white-darker);
  --color-regular-dark: var(--color-white-dark);
  --color-regular-light: var(--color-white-light);
  --color-regular-lighter: var(--color-white-lighter);
  --color-on-regular: var(--color-black);
  --color-regular-faded: var(--color-white-faded);
  --color-on-regular-faded: var(--color-regular-subtle);
  --color-regular-subtle: var(--color-white-subtle);
  --color-on-regular-subtle: var(--color-regular-faded);
  --color-shadow: oklch(from var(--color-black) 72% c h);
  --color-shadow-inset: oklch(from var(--color-shadow) l c h / 22%);
  --color-shadow-inset-dark: oklch(from var(--color-shadow) l c h / 50%);
}

[data-shiki="dark"] pre {
  --color-shiki-background: var(--color-black);
  --color-shiki-on-background: var(--color-white);
  --color-shiki-gutter: var(--color-black-dark);
  --color-shiki-on-gutter: var(--color-grey-faded);
}

[data-shiki="light"] pre {
  --color-shiki-background: var(--color-white);
  --color-shiki-on-background: var(--color-black);
  --color-shiki-gutter: var(--color-white-dark);
  --color-shiki-on-gutter: var(--color-grey-faded);
}
