:root {
  --font-family-mono: "Cousine", "Liberation Mono", "DejaVu Sans Mono",
    "Courier New", monospace;
  --font-family-regular: "Inter", "Liberation Sans", arial, sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --line-height: 1.618;
  --font-size-ratio: 1.125;
  --font-size-sm: calc(var(--font-size-md) / var(--font-size-ratio));
  --font-size-md: clamp(
    calc(var(--one-px-in-rem) * 16),
    calc(calc(var(--one-px-in-rem) * 16) + 0.15dvw),
    calc(var(--one-px-in-rem) * 16 * 2)
  );
  --font-size-lg: calc(var(--font-size-md) * var(--font-size-ratio));
  --font-size-xl: calc(var(--font-size-md) * pow(var(--font-size-ratio), 2));
  --font-size-2xl: calc(var(--font-size-md) * pow(var(--font-size-ratio), 3));
  --font-size-3xl: calc(var(--font-size-md) * pow(var(--font-size-ratio), 4));
  --font-size-4xl: calc(var(--font-size-md) * pow(var(--font-size-ratio), 5));
  --font-size-5xl: calc(var(--font-size-md) * pow(var(--font-size-ratio), 6));
}
