---
import Layout from "../../../components/templates/layout/layout.astro";
import { COMPONENT_KINDS } from "../../../utils/constants";
import { capitalizeFirstLetter } from "../../../utils/strings";

const title = "Components";
---

<Layout title={title}>
  <ul>
    {
      COMPONENT_KINDS.map((kind) => (
        <li>
          <a href={`/design-system/components/${kind}`}>
            {capitalizeFirstLetter(kind)}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
