---
import type { ComponentProps } from "astro/types";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import Heading from "../heading/heading.astro";
import LicenseComponent from "./license.astro";

const title = "License";
const seo: ComponentProps<typeof PageLayout>["seo"] = {
  nofollow: true,
  noindex: true,
  title: `${title} | Atoms | Components | Design system`,
};
---

<PageLayout heading={title} seo={seo}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>This component is used to display an icon of the website license.</p>
    <LicenseComponent />
  </Fragment>
</PageLayout>
