---
import Layout from "../../templates/layout/layout.astro";
import Heading from "../heading/heading.astro";
import LicenseComponent from "./license.astro";

const title = "License";
---

<Layout title={title}>
  <Heading>Usage</Heading>
  <p>This component is used to display an icon of the website license.</p>
  <LicenseComponent />
</Layout>
