---
import { getStoryMeta } from "../../../utils/stories";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import Heading from "../heading/heading.astro";
import LicenseComponent from "./license.astro";

const title = "License";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "atoms",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>This component is used to display an icon of the website license.</p>
    <LicenseComponent />
  </Fragment>
</PageLayout>
