---
import Layout from "../../templates/layout/layout.astro";
import LicenseComponent from "./license.astro";

const title = "License";
---

<Layout title={title}>
  <h2>Usage</h2>
  <p>This component is used to display an icon of the website license.</p>
  <LicenseComponent />
</Layout>
