---
import { getStoryMeta } from "../../../utils/stories";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import CodePreview from "../code-preview/code-preview.astro";
import GreetingsComponent from "./greetings.astro";

const title = "Greetings";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "molecules",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Introduction</Heading>
    <p>
      The <code>Greetings</code> component should be used on a homepage to introduce
      the author of the website.
    </p>
    <CodePreview
      code={`import Greetings from "./components/molecules/greetings/greetings.astro";`}
      label="How to import"
      lang="ts"
    />
    <CodePreview
      code={`<Greetings name="John Doe" />`}
      label="Basic use"
      lang="astro"
    >
      <GreetingsComponent name="John Doe" />
    </CodePreview>
  </Fragment>
</PageLayout>
