---
import type { ComponentProps } from "astro/types";
import { getStoryMeta } from "../../../utils/stories";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import MainNavComponent from "./main-nav.astro";

const title = "MainNav";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "organisms",
    route: Astro.url.pathname,
    title,
  },
});

const items = [
  { label: "Item 1", url: "#item-1" },
  { label: "Item 2", url: "#item-2" },
  { label: "Item 3", url: "#item-3" },
  { label: "Item 4", url: "#item-4" },
  { label: "Item 5", url: "#item-5" },
] satisfies ComponentProps<typeof MainNavComponent>["items"];
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>This component is used to display the main navigation.</p>
    <MainNavComponent items={items} />
  </Fragment>
</PageLayout>
