---
import { getStoryMeta } from "../../../utils/stories";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import ContactFormComponent from "./contact-form.astro";

const title = "ContactForm";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "organisms",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading>Usage</Heading>
    <p>
      A <code>ContactForm</code> component should be used to authorize the user to
      contact you by email.
    </p>
    <ContactFormComponent id="usage-example" />
  </Fragment>
</PageLayout>
