---
import { getStoryMeta } from "../../../utils/stories";
import Heading from "../../atoms/heading/heading.astro";
import CodePreview from "../../molecules/code-preview/code-preview.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import ContactFormComponent from "./contact-form.astro";

const title = "ContactForm";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "organisms",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading>Introduction</Heading>
    <p>
      A <code>ContactForm</code> component should be used to authorize the user to
      contact you by email.
    </p>
    <CodePreview
      code={`import ContactForm from "./components/organisms/contact-form/contact-form.astro";`}
      label="How to import"
      lang="ts"
    />
    <CodePreview
      code={`<ContactForm id="usage-example" />`}
      label="Basic use"
      lang="astro"
    >
      <ContactFormComponent id="usage-example" />
    </CodePreview>
  </Fragment>
</PageLayout>
