---
import type { ComponentProps } from "astro/types";
import Heading from "../../atoms/heading/heading.astro";
import Page from "../../organisms/page/page.astro";
import Layout from "../../templates/layout/layout.astro";
import BrandingComponent from "./branding.astro";

const title = "Branding";
const seo: ComponentProps<typeof Layout>["seo"] = {
  nofollow: true,
  noindex: true,
  title: `${title} | Molecules | Components | Design system`,
};
---

<Layout seo={seo}>
  <Page heading={title}>
    <Fragment slot="body">
      <Heading as="h2">Usage</Heading>
      <p>This component is used to a logo alongside the brand.</p>
      <BrandingComponent brand="Brand" url="#homepage" />
    </Fragment>
  </Page>
</Layout>
