---
import type { ComponentProps } from "astro/types";
import Link from "../../atoms/link/link.astro";
import Logo from "../../../assets/logo.svg";

type Props = Omit<ComponentProps<typeof Link>, "href"> & {
  brand: string;
  url: string;
};

const { brand, class: className, url, ...attrs } = Astro.props;
---

<Link {...attrs} class:list={["branding", className]} href={url}>
  <Logo aria-hidden="true" class="logo" />
  <span class="brand">{brand}</span>
</Link>

<style>
  .branding {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    place-content: center;
    gap: var(--spacing-sm);
    width: fit-content;
    padding: var(--spacing-xs);
    border-radius: var(--border-radii-lg);
    text-align: center;
    text-decoration: none;

    &:where(:focus-visible) {
      outline: var(--border-size-lg) solid var(--color-primary-lighter);
      outline-offset: calc(var(--border-size-md) * -2);
    }
  }

  .logo {
    width: auto;
    height: clamp(3em, 6dvi, 4em);
  }

  .brand {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold);
  }
</style>
