---
import type { ComponentProps } from "astro/types";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import BrandingComponent from "./branding.astro";

const title = "Branding";
const seo: ComponentProps<typeof PageLayout>["seo"] = {
  nofollow: true,
  noindex: true,
  title: `${title} | Molecules | Components | Design system`,
};
---

<PageLayout heading={title} seo={seo}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>This component is used to a logo alongside the brand.</p>
    <BrandingComponent brand="Brand" url="#homepage" />
  </Fragment>
</PageLayout>
