---
import type { ComponentProps } from "astro/types";
import Layout from "../../templates/layout/layout.astro";
import Heading from "../heading/heading.astro";
import ListItem from "../list/list-item.astro";
import List from "../list/list.astro";
import LinkComponent from "./link.astro";

const title = "Link";
const seo: ComponentProps<typeof Layout>["seo"] = {
  nofollow: true,
  noindex: true,
  title: `${title} | Atoms | Components | Design system`,
};
---

<Layout seo={seo} title={title}>
  <Heading as="h2">Usage</Heading>
  <p>
    When used at the beginning or at the end of a sentence, a link should not
    display an extra space before or after.
  </p>
  <p>
    <LinkComponent href="#destination">A link</LinkComponent> at the beginning of
    a sentence.
  </p>
  <p>
    A sentence ending with <LinkComponent href="#destination"
      >a link</LinkComponent
    >.
  </p>
  <Heading as="h2">Adding target information</Heading>
  <Heading as="h3">Language</Heading>
  <p>
    A link can indicate the language used in the linked resource by using the <code
      >hreflang</code
    > attribute.
  </p>
  <List>
    <ListItem>
      <LinkComponent href="#destination" hreflang="fr"
        >A French link</LinkComponent
      >
    </ListItem>
  </List>
  <Heading as="h3">External link</Heading>
  <p>
    A link can visually indicate that it leads to an external resource either by
    using the <code>isExternal</code> property or by defining <code
      >external</code
    > in the <code>rel</code> attribute.
  </p>
  <List>
    <ListItem>
      <LinkComponent href="#destination" isExternal
        >An external link</LinkComponent
      >
    </ListItem>
    <ListItem>
      <LinkComponent href="#destination" rel="external"
        >An external link using rel</LinkComponent
      >
    </ListItem>
  </List>
  <Heading as="h3">Download link</Heading>
  <p>
    A link can visually indicate that it leads to a file (e.g. a PDF) by using
    the <code>isDownload</code> property.
  </p>
  <List>
    <ListItem>
      <LinkComponent href="#destination" isDownload
        >A download link</LinkComponent
      >
    </ListItem>
  </List>
  <Heading as="h3">Mixing information</Heading>
  <p>It is also possible to mix the previous information on a same link:</p>
  <List>
    <ListItem>
      <LinkComponent href="#destination" hreflang="fr" isExternal
        >An external French link</LinkComponent
      >
    </ListItem>
    <ListItem>
      <LinkComponent href="#destination" hreflang="fr" isDownload
        >A French download link</LinkComponent
      >
    </ListItem>
    <ListItem>
      <LinkComponent href="#destination" isDownload isExternal
        >An external download link</LinkComponent
      >
    </ListItem>
    <ListItem>
      <LinkComponent href="#destination" hreflang="fr" isDownload isExternal
        >An external download link in French</LinkComponent
      >
    </ListItem>
  </List>
  <Heading as="h2">Wrapping an image</Heading>
  <p>
    Sometimes links are used to wrap an image (e.g. a gallery). This should also
    be supported:
  </p>
  <LinkComponent href="#destination"
    ><img
      alt="An image used as example"
      src="https://picsum.photos/100/100"
    /></LinkComponent
  >
</Layout>
