---
import { getStoryMeta } from "../../../utils/stories";
import CodePreview from "../../molecules/code-preview/code-preview.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import Heading from "../heading/heading.astro";
import LinkComponent from "./link.astro";

const title = "Link";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "atoms",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading>Introduction</Heading>
    <p>
      A link can be used as internal or external navigation. It can provide
      extra information such as the target language or if this is an external or
      download link.
    </p>
    <CodePreview
      code={`import Link from "./components/atoms/link/link.astro"`}
      label="How to import"
      lang="ts"
    />
    <CodePreview
      code={`<Link href="/target">Text used as anchor</Link>`}
      label="Basic use"
      lang="astro"
    >
      <LinkComponent href="/target"> Text used as anchor </LinkComponent>
    </CodePreview>
    <Heading>Options</Heading>
    <Heading as="h3"><code>hreflang</code></Heading>
    <p>
      Use this to define the target language and to visually show that
      information.
    </p>
    <CodePreview
      code={`<Link href="/destination" hreflang="fr">Text used as anchor</Link>`}
      label="Defining a language"
      lang="astro"
    >
      <LinkComponent href="/destination" hreflang="fr">
        Text used as anchor
      </LinkComponent>
    </CodePreview>
    <Heading as="h3"><code>isExternal</code></Heading>
    <p>
      Use this to visually show that the following the link would lead to an
      external website.
    </p>
    <CodePreview
      code={`<Link href="/target" isExternal>Text used as anchor</Link>`}
      label="Using an external link"
      lang="astro"
    >
      <LinkComponent href="/target" isExternal>
        Text used as anchor
      </LinkComponent>
    </CodePreview>
    <Heading as="h3"><code>isDownload</code></Heading>
    <p>
      Use this to visually show that the following the link targets a file that
      can be downloaded.
    </p>
    <CodePreview
      code={`<Link href="/target.pdf" isDownload>Text used as anchor</Link>`}
      label="Using a download link"
      lang="astro"
    >
      <LinkComponent href="/target.pdf" isDownload>
        Text used as anchor
      </LinkComponent>
    </CodePreview>
    <Heading as="h3">Mixing options</Heading>
    <p>
      Sometimes you might need to mix the previous options to represent an
      external link in French or an external download link for example.
    </p>
    <CodePreview
      code={`<Link href="/destination.pdf" hreflang="fr" isDownload>Text used as anchor</Link>
<br />
<Link href="/destination" hreflang="fr" isExternal>Text used as anchor</Link>
<br />
<Link href="/target.pdf" isDownload isExternal>Text used as anchor</Link>
<br />
<Link href="/destination.pdf" hreflang="fr" isDownload isExternal>Text used as anchor</Link>`}
      label="Using multiple options"
      lang="astro"
    >
      <LinkComponent href="/destination.pdf" hreflang="fr" isDownload
        >Text used as anchor</LinkComponent
      >
      <br />
      <LinkComponent href="/destination" hreflang="fr" isExternal
        >Text used as anchor</LinkComponent
      >
      <br />
      <LinkComponent href="/target.pdf" isDownload isExternal>
        Text used as anchor
      </LinkComponent>
      <br />
      <LinkComponent href="/destination.pdf" hreflang="fr" isDownload isExternal
        >Text used as anchor</LinkComponent
      >
    </CodePreview>
    <Heading>Wrapping an image in a link</Heading>
    <p>
      When creating a gallery, it is common to wrap images with a link. This
      component also supports this.
    </p>
    <CodePreview
      code={`<Link href="/target">
  <img alt="" src="https://picsum.photos/640/480" />
</Link>`}
      label="Using an image inside a link"
      lang="astro"
    >
      <LinkComponent href="/target">
        <img alt="" src="https://picsum.photos/640/480" />
      </LinkComponent>
    </CodePreview>
    <Heading>HTML spacing handling</Heading>
    <p>
      When used at the beginning or at the end of a sentence, a link should not
      display an extra space before or after.
    </p>
    <CodePreview label="No extra spaces">
      <p>
        <LinkComponent href="#destination">A link</LinkComponent> at the beginning
        of a sentence.
      </p>
      <p>
        A sentence ending with <LinkComponent href="#destination"
          >a link</LinkComponent
        >.
      </p>
    </CodePreview>
  </Fragment>
</PageLayout>
