---
import { getStoryMeta } from "../../../utils/stories";
import CodePreview from "../../molecules/code-preview/code-preview.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import Heading from "../heading/heading.astro";
import BlockquoteComponent from "./blockquote.astro";

const title = "Blockquote";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "atoms",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Introduction</Heading>
    <p>This component is used to display a quote separated from the content.</p>
    <CodePreview
      code={`import Blockquote from "./components/atoms/blockquote/blockquote.astro"`}
      label="How to import"
    />
    <CodePreview
      code={`<Blockquote lang="en">This is a quotation.</Blockquote>`}
      label="Basic use"
    >
      <BlockquoteComponent lang="en">This is a quotation.</BlockquoteComponent>
    </CodePreview>
    <Heading as="h2">Blockquote with paragraphs</Heading>
    <CodePreview
      code={`<Blockquote>
<p>
  Deleniti ut similique officia. Eum reprehenderit quibusdam molestiae rem
  vitae ut. Officia labore delectus tempore doloremque. Officia
  consequatur reiciendis deleniti placeat.
</p>
<p>
  Tempore esse nihil nam. Minus quisquam animi sint cum nihil ullam
  consequatur cumque. Aut eligendi nulla rerum quasi debitis. Vel sed a ad
  magnam. Voluptatem corporis neque blanditiis assumenda et ut
  consequatur.
</p>
</Blockquote>`}
      label="Using multiple paragraphs"
    >
      <BlockquoteComponent>
        <p>
          Deleniti ut similique officia. Eum reprehenderit quibusdam molestiae
          rem vitae ut. Officia labore delectus tempore doloremque. Officia
          consequatur reiciendis deleniti placeat.
        </p>
        <p>
          Tempore esse nihil nam. Minus quisquam animi sint cum nihil ullam
          consequatur cumque. Aut eligendi nulla rerum quasi debitis. Vel sed a
          ad magnam. Voluptatem corporis neque blanditiis assumenda et ut
          consequatur.
        </p>
      </BlockquoteComponent>
    </CodePreview>
    <Heading as="h2">Blockquote with figcaption</Heading>
    <CodePreview
      code={`<Blockquote>
  Necessitatibus repudiandae voluptates accusantium architecto sint.
  <Fragment slot="caption">In <cite>Lorem ipsum</cite></Fragment>
</Blockquote>`}
      label="Using a caption"
    >
      <BlockquoteComponent>
        Necessitatibus repudiandae voluptates accusantium architecto sint.
        <Fragment slot="caption">In <cite>Lorem ipsum</cite></Fragment>
      </BlockquoteComponent>
    </CodePreview>
  </Fragment>
</PageLayout>
