---
import Layout from "virtual:astro-stories/Layout";
import type { StoryIndex } from "../types";

type Props = StoryIndex;

const { ...index } = Astro.props;
---

<Layout story={index}>
  {
    index.children.length > 0 ? (
      <ul>
        {index.children.map(({ route, title }) => (
          <li>
            <a href={route}>{title}</a>
          </li>
        ))}
      </ul>
    ) : null
  }
</Layout>
