---
import type { HTMLAttributes } from "astro/types";
import Gallery from "./from-generics/gallery.astro";

type Props = HTMLAttributes<"div">;

const { class: className, ...attrs } = Astro.props;
---

{
  className === "gallery" ? (
    <Gallery {...attrs}>
      <slot />
    </Gallery>
  ) : (
    <div>
      <slot />
    </div>
  )
}
