---
import type { ComponentProps } from "astro/types";
import Layout from "../../templates/layout/layout.astro";
import Heading from "../heading/heading.astro";
import BoxComponent from "./box.astro";

const title = "Box";
const seo: ComponentProps<typeof Layout>["seo"] = {
  nofollow: true,
  noindex: true,
  title: `${title} | Atoms | Components | Design system`,
};
---

<Layout seo={seo}>
  <Heading as="h1">{title}</Heading>
  <Heading as="h2">Usage</Heading>
  <p>
    This component is usually used in the website's footer to display the
    copyright.
  </p>
  <BoxComponent>The box contents.</BoxComponent>
  <Heading as="h2">Options</Heading>
  <Heading as="h3"><code>isBordered</code></Heading>
  <BoxComponent isBordered>The box contents.</BoxComponent>
  <Heading as="h3"><code>isCentered</code></Heading>
  <BoxComponent isCentered>The box contents.</BoxComponent>
  <Heading as="h3"><code>isProse</code></Heading>
  <BoxComponent isProse>The box contents.</BoxComponent>
  <Heading as="h2">Using <code>isProse</code></Heading>
  <BoxComponent isProse>
    <p>The first child should not have a top margin.</p>
    <p>In between you can use whatever you want.</p>
    <p>Each "not-inlined" children will have both top and bottom margins.</p>
    <p>The last child should not have a bottom margin.</p>
  </BoxComponent>
  <Heading as="h3">With <code>isBordered</code></Heading>
  <BoxComponent isBordered isProse>The box contents.</BoxComponent>
  <Heading as="h3">With <code>isCentered</code></Heading>
  <p>And <code>isBordered</code> to see the box limits.</p>
  <BoxComponent isBordered isCentered isProse>The box contents.</BoxComponent>
</Layout>
