---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className, ...attrs } = Astro.props;
---

<div {...attrs} class:list={["prose", className]}><slot /></div>

<style>
  .prose {
    & > :global(*:where(:first-child)) {
      margin-block-start: 0;
    }

    & > :global(* + *) {
      margin-block: var(--spacing-md);
    }

    & > :global(*:where(:last-child)) {
      margin-block-end: 0;
    }
  }
</style>
