---
import { getStoryMeta } from "../../../utils/stories";
import Heading from "../../atoms/heading/heading.astro";
import CodePreview from "../../molecules/code-preview/code-preview.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import SettingsFormComponent from "./settings-form.astro";

const title = "SettingsForm";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "organisms",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>
      A <code>SettingsForm</code> component should be used to authorize the user
      to customize the website.
    </p>
    <CodePreview
      code={`import SettingsForm from "./components/organisms/settings-form/settings-form.astro";`}
      label="How to import"
      lang="ts"
    />
    <CodePreview
      code={`<SettingsForm id="usage-example" />`}
      label="Basic use"
      lang="astro"
    >
      <SettingsFormComponent id="usage-example" />
    </CodePreview>
    <Heading as="h2">Alternatives languages</Heading>
    <p>
      You can provide the routes to use for the alternative languages using the <code
        >altLanguages</code
      > property.
    </p>
    <CodePreview
      code={`<SettingsForm
  altLanguages={[
    { locale: "en", route: "#my-en-route" },
    { locale: "fr", route: "#ma-route-fr" },
  ]}
  id="alt-languages-example"
/>`}
      label="Basic use"
      lang="astro"
    >
      <SettingsFormComponent
        altLanguages={[
          { locale: "en", route: "#my-en-route" },
          { locale: "fr", route: "#ma-route-fr" },
        ]}
        id="alt-languages-example"
      />
    </CodePreview>
  </Fragment>
</PageLayout>
