---
import { getStoryMeta } from "../../../utils/stories";
import CodePreview from "../../molecules/code-preview/code-preview.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import Heading from "../heading/heading.astro";
import CalloutComponent from "./callout.astro";

const title = "Callout";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "atoms",
    route: Astro.url.pathname,
    title,
  },
});
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Introduction</Heading>
    <p>This component is used to show important information to the reader.</p>
    <CodePreview
      code={`import Callout from "./components/atoms/callout/callout.astro"`}
      label="How to import"
    />
    <CodePreview code={`<Callout>The contents.</Callout>`} label="Basic use">
      <CalloutComponent>The contents.</CalloutComponent>
    </CodePreview>
    <Heading as="h2">Types</Heading>
    <CodePreview
      code={`<Callout type="critical">The contents.</Callout>
<br />
<Callout type="discovery">The contents.</Callout>
<br />
<Callout type="idea">The contents.</Callout>
<br />
<Callout type="info">The contents.</Callout>
<br />
<Callout type="success">The contents.</Callout>
<br />
<Callout type="warning">The contents.</Callout>`}
      label="Using different types of callouts"
    >
      <CalloutComponent type="critical">The contents.</CalloutComponent>
      <br />
      <CalloutComponent type="discovery">The contents.</CalloutComponent>
      <br />
      <CalloutComponent type="idea">The contents.</CalloutComponent>
      <br />
      <CalloutComponent type="info">The contents.</CalloutComponent>
      <br />
      <CalloutComponent type="success">The contents.</CalloutComponent>
      <br />
      <CalloutComponent type="warning">The contents.</CalloutComponent>
    </CodePreview>
    <Heading as="h2">With a custom label</Heading>
    <CodePreview
      code={`<Callout
  label="A custom label a bit long to check small devices"
  type="critical"
>
  The contents.
</Callout>`}
      label="Using a custom label"
    >
      <CalloutComponent
        label="A custom label a bit long to check small devices"
        type="critical"
      >
        The contents.
      </CalloutComponent>
    </CodePreview>
  </Fragment>
</PageLayout>
