---
import type { HTMLAttributes } from "astro/types";
import { Icon } from "astro-icon/components";
import { useI18n } from "../../../services/i18n";
import type { CalloutType } from "../../../types/tokens";
import { isValidCalloutType } from "../../../utils/type-guards";

type Props = HTMLAttributes<"div"> & {
  label?: string | null | undefined;
  role?: "alert" | "note" | "status" | undefined;
  type?: CalloutType;
};

const {
  "aria-label": ariaLabel,
  class: className,
  "data-type": dataType,
  label,
  role = "note",
  type = "info",
  ...attrs
} = Astro.props;
const { translate } = useI18n(Astro.currentLocale);
const defaultLabel = {
  critical: translate("callout.label.critical"),
  discovery: translate("callout.label.discovery"),
  idea: translate("callout.label.idea"),
  info: translate("callout.label.info"),
  success: translate("callout.label.success"),
  warning: translate("callout.label.warning"),
} satisfies Record<CalloutType, string>;
const heading = label || defaultLabel[type];
---

<div
  {...attrs}
  aria-label={ariaLabel ?? heading}
  class:list={["callout", className]}
  data-type={dataType && isValidCalloutType(dataType) ? dataType : type}
  role={role}
>
  <div aria-hidden={ariaLabel ? "false" : "true"} class="callout-heading">
    <Icon aria-hidden="true" name={type} size={26} />
    {heading}
  </div>
  <slot />
</div>

<style>
  .callout {
    padding: var(--spacing-xs) var(--spacing-sm) var(--spacing-sm);
    border: var(--border-size-md) solid;
    border-inline-start-width: var(--border-size-xl);
    border-radius: var(--border-radii-md);

    &:where([data-type="critical"]) {
      background-color: var(--color-critical-subtle);
      border-color: var(--color-critical);
      color: var(--color-critical-faded);
    }

    &:where([data-type="discovery"]) {
      background-color: var(--color-discovery-subtle);
      border-color: var(--color-discovery);
      color: var(--color-discovery-faded);
    }

    &:where([data-type="idea"]) {
      background-color: var(--color-idea-subtle);
      border-color: var(--color-idea);
      color: var(--color-idea-faded);
    }

    &:where([data-type="info"]) {
      background-color: var(--color-info-subtle);
      border-color: var(--color-info);
      color: var(--color-info-faded);
    }

    &:where([data-type="success"]) {
      background-color: var(--color-success-subtle);
      border-color: var(--color-success);
      color: var(--color-success-faded);
    }

    &:where([data-type="warning"]) {
      background-color: var(--color-warning-subtle);
      border-color: var(--color-warning);
      color: var(--color-warning-faded);
    }
  }

  .callout-heading {
    display: flex;
    align-items: center;
    gap: var(--spacing-2xs);
    margin: 0 0 var(--spacing-sm);
    padding: 0 0 var(--spacing-2xs);
    border-block-end: var(--border-size-sm) solid currentcolor;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);

    svg {
      flex: 0 0 auto;
    }
  }

  .callout > :global(*:last-child:not(:only-child)) {
    margin-block-end: 0;
  }
</style>
