---
import type { ComponentProps } from "astro/types";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import SwitchComponent from "./switch.astro";

const title = "Switch";
const breadcrumb: ComponentProps<typeof PageLayout>["breadcrumb"] = [
  { label: "Home", url: "/" },
  { label: "Design system", url: "/design-system" },
  { label: "Components", url: "/design-system/components" },
  { label: "Molecules", url: "/design-system/components/molecules" },
  { label: title, url: Astro.url.href },
];
const seo: ComponentProps<typeof PageLayout>["seo"] = {
  nofollow: true,
  noindex: true,
  title: breadcrumb
    .slice(1)
    .reverse()
    .map((crumb) => crumb.label)
    .join(" | "),
};
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>
      A <code>Switch</code> component should be used with boolean settings.
    </p>
    <SwitchComponent
      id="usage-example"
      items={[
        { label: "Item 1", value: "item1" },
        { label: "Item 2", value: "item2" },
      ]}
      label="Usage Example"
      value="item1"
    />
    <Heading as="h2">Options</Heading>
    <Heading as="h3">Items with icons</Heading>
    <SwitchComponent
      id="items-icons-example"
      items={[
        { icon: "sun", label: "Item 1", value: "item1" },
        { icon: "moon", label: "Item 2", value: "item2" },
      ]}
      label="Items with icons Example"
      value="item1"
    />
    <Heading as="h3"><code>hideItemsLabel</code></Heading>
    <SwitchComponent
      id="hidden-items-label-example"
      hideItemsLabel
      items={[
        { icon: "sun", label: "Item 1", value: "item1" },
        { icon: "moon", label: "Item 2", value: "item2" },
      ]}
      label="Hidden Items Label Example"
      value="item1"
    />
    <Heading as="h3"><code>hideLabel</code></Heading>
    <SwitchComponent
      id="hidden-items-label-example"
      hideLabel
      items={[
        { label: "Item 1", value: "item1" },
        { label: "Item 2", value: "item2" },
      ]}
      label="Hidden Items Label Example"
      value="item1"
    />
    <Heading as="h3"><code>isInline</code></Heading>
    <SwitchComponent
      id="inline-example"
      isInline
      items={[
        { label: "Item 1", value: "item1" },
        { label: "Item 2", value: "item2" },
      ]}
      label="Inline Example"
      value="item1"
    />
  </Fragment>
</PageLayout>
