---
import type { ComponentProps } from "astro/types";
import { getStoryMeta } from "../../../utils/stories";
import Heading from "../../atoms/heading/heading.astro";
import PageLayout from "../../templates/page-layout/page-layout.astro";
import BreadcrumbComponent from "./breadcrumb.astro";

const title = "Breadcrumb";
const { breadcrumb, seo } = getStoryMeta({
  breadcrumb: {
    kind: "molecules",
    route: Astro.url.pathname,
    title,
  },
});

const items: ComponentProps<typeof BreadcrumbComponent>["items"] = [
  { label: "Home", url: "#item1" },
  { label: "Blog", url: "#item2" },
  { label: "Year", url: "#item3" },
  { label: "A very very long post title", url: "#item4" },
];
---

<PageLayout breadcrumb={breadcrumb} seo={seo} title={title}>
  <Fragment slot="body">
    <Heading as="h2">Usage</Heading>
    <p>This component is used to display a breadcrumb on a page.</p>
    <BreadcrumbComponent items={items} />
  </Fragment>
</PageLayout>
