---
import type { HTMLAttributes } from "astro/types";
import type { Crumb } from "../../../types/data";
import NavItem from "../nav-item/nav-item.astro";
import NavList from "../nav-list/nav-list.astro";

type Props = HTMLAttributes<"nav"> & {
  isCentered?: boolean | null | undefined;
  items: Crumb[];
};

const { class: className, isCentered = false, items, ...attrs } = Astro.props;
---

<nav
  {...attrs}
  class:list={["breadcrumb", className]}
  {...isCentered && { "data-centered": true }}
>
  <NavList class="breadcrumb-list" hideMarker isInline isOrdered items={items}>
    {
      ({ label, url, ...item }, index, crumbs) => {
        const isLastItem = index + 1 === crumbs.length;

        return isLastItem ? (
          <span aria-current="page" class="breadcrumb-item">
            {label}
          </span>
        ) : (
          <Fragment>
            <NavItem {...item} class="breadcrumb-item" href={url} isRounded>
              {label}
            </NavItem>
            <span aria-hidden="true">&gt;</span>
          </Fragment>
        );
      }
    }
  </NavList>
</nav>

<style>
  .breadcrumb {
    padding-block: var(--spacing-xs);
    overflow-x: auto;
  }

  .breadcrumb-list {
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  :where(.breadcrumb[data-centered="true"]) .breadcrumb-list {
    & > :global(li:first-child) {
      margin-inline-start: auto;
    }

    & > :global(li:last-child) {
      margin-inline-end: auto;
    }
  }

  .breadcrumb-list > :global(li),
  .breadcrumb-item {
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  .breadcrumb-item {
    padding: var(--spacing-4xs) var(--spacing-2xs);
    font-size: var(--font-size-sm);
    outline-offset: calc(var(--spacing-3xs) * -1);

    &:where(span) {
      color: var(--color-muted-faded);
      font-weight: var(--font-weight-bold);
    }
  }
</style>
