name: Lint
permissions: {}

on:
  push:
    branches:
      - main
      - next
  pull_request:
    branches:
      - main
      - next

defaults:
  run:
    shell: bash

env:
  CI: true
  FORCE_COLOR: true
  CONTACT_EMAIL: "anyone@example.test"
  SMTP_HOST: "smtp.example.test"
  SMTP_PORT: 465
  SMTP_USER: "anyone"
  SMTP_PASSWORD: "foo"

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request_target' && github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: pnpm
          node-version: 24

      - name: Install dependencies
        run: pnpm i

      - name: Lint - Types
        run: pnpm lint:types

      - name: Lint - Scripts
        run: pnpm run lint:scripts

      - name: Lint - Styles
        run: pnpm run lint:styles

      - name: Lint - Spelling
        run: pnpm run lint:spelling

      - name: Lint - Formatting
        run: pnpm run lint:formatting
