name: Tests
permissions: {}

on:
  push:
    branches:
      - main
      - next
  pull_request:
    branches:
      - main
      - next

defaults:
  run:
    shell: bash

env:
  CI: true
  FORCE_COLOR: true

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request_target' && github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Tests
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: pnpm
          node-version: 24

      - name: Install dependencies
        run: pnpm i

      - name: Unit Tests
        run: pnpm test:unit
